{% trans_default_domain 'FOSUserBundle' %}

<h3>{{'my_profile'|trans({}, 'messages')}}</h3>
<div class="fos_user_user_show">
    <p><strong>{{ 'profile.show.username'|trans }} :</strong> {{ user.username }}</p>
    <p><strong>{{ 'profile.show.email'|trans }} :</strong> {{ user.email }}</p>
    {% if user.apiAccessToken %}
        <p><strong>Api Token :</strong> {{ user.apiAccessToken }}</p>
        <p><strong>Api Token use :</strong> {{ user.apiCallNumber }}/{{ user.apiQuota }}</p>
        <p><strong>Api use description :</strong> {{ user.apiUseDescription|nl2br }}</p>
    {% endif %}
    <div>
        <a href="{{path('fos_user_profile_edit')}}" class="btn btn-primary">{{ 'form.edit.action'|trans({}, 'messages') }}</a>
        <a href="{{path('fos_user_change_password')}}" class="btn btn-danger">{{ 'change_password.submit'|trans }}</a>
    </div>
</div>
