<!DOCTYPE html>
<html>
    <head>
        {% include "partial/ga.html.twig" %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/png" href="{{asset('favicon.png')}}" />

        <title>{% block title 'site_title'|trans %}</title>

        <script type="text/javascript" src="{{ asset('bundles/app/jquery/js/jquery-1.12.4.min.js') }}"></script>

        {% block stylesheets %}
            {% stylesheets
                "bundles/app/bootstrap-3.3.7/css/bootstrap.min.css"
                "bundles/app/bootstrap-toogle/bootstrap-toggle.min.css"
                "bundles/app/font-awesome/css/font-awesome.min.css"
                "bundles/app/jquery/css/jquery-ui.min.css"
                "bundles/app/css/fonts.css"
                "bundles/app/css/main.css"
                filter="cssrewrite"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            {% endstylesheets %}
        {% endblock %}

        {% block additional_stylesheets %}
        {% endblock %}
    </head>

    <body>
        {% include "partial/navbar.html.twig" %}

        <div class="main">
            {% block body %}
            {% endblock %}
        </div>

        {% include "modals/global_modal.html.twig" %}

        {% block javascripts %}
            <script>
                var yes = "{{'yes'|trans}}";
                var no = "{{'no'|trans}}";
            </script>

            {% javascripts
                '@AppBundle/Resources/public/jquery/js/jquery-ui.min.js'
                '@AppBundle/Resources/public/bootstrap-3.3.7/js/bootstrap.min.js'
                '@AppBundle/Resources/public/bootstrap-toogle/bootstrap-toggle.min.js'
                '@AppBundle/Resources/public/js/waiting_dialog.js'
                '@AppBundle/Resources/public/js/terms_of_use.js'
                '@AppBundle/Resources/public/js/main.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block additional_javascripts %}
        {% endblock %}
    </body>
</html>
