{% extends 'default/layout.html.twig' %}

{% block additional_stylesheets %}
    {% stylesheets
        "bundles/app/flexSlider/flexslider.css"
        "bundles/app/css/index.css"
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}


{% block content %}
    <div class="text-center">
        <!-- projet Section -->
        <section id="projet">
            <div class="container">
                <h2 class="section-heading">{{ 'home.menu.project'|trans }}</h2>
                <p class="text-muted">{{ 'home.text.project1'|trans }}</p>
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="flexslider text-center electronic-board">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/electronic-prayer-board-1.png') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/electronic-prayer-board-2.png') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <p class="text-muted">{{ 'home.text.project2'|trans|raw }}</p>

                <h3 class="section-heading">{{ 'home.title.howItWorks'|trans }}</h3>
                <p class="text-muted">
                    {{ 'home.text.howItWorks1'|trans }}
                </p>

                <img src="{{ asset('bundles/app/agency/img/raspberry.jpg') }}" class="img-responsive"
                     style="display: inline" alt="">

                <h3 class="section-heading">Quelles sont les fonctionnalités principales du logiciel ?</h3>

                <h4 class="service-heading">Affichage des horaires de prière en plusieurs langues</h4>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/1.jpg') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/2.jpg') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/3.jpg') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 class="service-heading">Signal sonore et visuel du adhân et Iqâma</h4>
                <p class="text-muted">Lorsqu’il est l'heure du adhan ou de la iqama, l'écran se met à clignoter et un
                    signal sonore retentira.</p>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/4.jpg') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/5.jpg') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/6.jpg') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h4 class="service-heading">Affichage de rappels et invocations</h4>
                <p class="text-muted">Entre chaque adhan et iqama, ainsi qu'à la fin de chaque prière, des rappels et
                    invocations sont affichés.</p>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/7.jpg') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/8.jpg') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/9.jpg') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/10.jpg') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 class="service-heading">Affichage d'annonces en texte ou images</h4>
                <p class="text-muted">
                    Avant et après chaque prière, si configurées depuis l'espace utilisateur les annonces défileront sur
                    l'écran.<br>
                </p>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/11.jpg') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/12.jpg') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 class="service-heading">Affichage de hadiths</h4>
                <p class="text-muted">
                    Afin de rendre l'écran encore plus utile, le logiciel permet un affichage aléatoire d'un hadith du
                    prophète "que la prière d'Allah et son salut soient sur lui", toutes les 5 minutes<br>
                </p>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/13.jpg') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/14.jpg') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h4 class="service-heading">Une version adaptée aux mobiles et tablettes</h4>
                <p class="text-muted">
                    Afin de faciliter aux fidèles la consultation des horaires de prière de leur mosquées,
                    nous créons un site internet adatapté aux mobiles et tablettes pour chaque installation.<br>
                </p>
                <p class="text-left">
                    Exemples: <a target="_blank"
                                 href="{{ path('mosque', {'slug': 'mosquee-essunna-houilles'}) }}">{{ url('mosque', {'slug': 'mosquee-essunna-houilles'}) }}</a>
                </p>

                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/15.png') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/16.png') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h4 class="service-heading">Pilotez l'écran depuis votre smartphone</h4>

                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/17.png') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/18.png') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/19.png') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h4 class="service-heading">Entièrement configurable</h4>
                <p class="text-muted">
                    Nous avons essayé de pousser la configuration du logiciel au maximum. Voici quelques exemples de
                    fonctionnalités
                    directement configurables depuis l'interface dédiée.
                </p>
                <ul class="text-muted text-left">
                    <li>Choix entre calcul des horaires automatique par le logiciel ou lecture depuis des fichiers CSV
                    </li>
                    <li>Choix de la langue</li>
                    <li>Affichage de l'heure de l'aïd à l’approche de l’évènement</li>
                    <li>Fixation des horaires (exemple: fixer l'heure du `isha en hiver)</li>
                    <li>Ajustement des temps d'attente entre adhan et iqama</li>
                    <li>Compte à rebours avant iqama</li>
                    <li>Ajustement des horaires</li>
                    <li>Affichage d'annonces en texte ou image</li>
                    <li>Modification des textes affichés en haut et en bas de l'écran</li>
                    <li>Modification de la couleur de fond</li>
                    <li>Adhan du haram</li>
                    <li>Affichage de la temprérature</li>
                    <li>Affichage du QR code pour faciliter la copie du lien internet</li>
                </ul>

                <h4 class="service-heading">Avis de nos utilisateurs</h4>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/app/agency/img/fb1.png') }}"/>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/app/agency/img/fb2.png') }}"/>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/app/agency/img/fb3.png') }}"/>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/app/agency/img/fb4.png') }}"/>
                    </div>
                </div>
            </div>

        </section>

        <!-- Mosquées équipées Grid Section -->
        <section id="mosquees" class="bg-light-gray">
            <div class="container">
                <h2 class="section-heading">Quelques mosquées équipées</h2>
                <p class="section-subheading text-muted">
                    Grace à Allah notre système est installé dans <strong>{{ totalMosquesCount }}</strong>
                    mosquées et domiciles partout dans le monde, voici quelques exemples
                </p>

                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            {% for item in mosqueNumberByCountry %}
                                <button class="btn btn-success mt-1">
                                    {{ item.country|country|upper }} <span class="badge">{{ item.nb }}</span>
                                </button>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="map"></div>
                    </div>
                </div>

                <div class="row mt-2 mb-4">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <div class="form-group">
                            <input class="form-control input-lg center-placeholder" id="find-mosque" placeholder="Cherchez une mosquée mawaqit par ville, code postal, pays..."
                                   data-remote="{{ path('public_mosque_search_ajax') }}">
                        </div>
                        <p class="text-muted">
                            Mawaqit vous propose les horaires de prière exactes, telles qu'elles sont pratiquées par les mosquées, <br>
                            cherchez une mosquée et consultez ses horaires.
                        </p>
                    </div>
                </div>


                <div class="row">
                    {% for mosque in mosquesWithImage %}
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="#mosque-{{ mosque.slug }}" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="{{ vich_uploader_asset(mosque, 'file1') }}"
                                     class="img-responsive mosque-image"
                                     alt="{{ mosque.name }}"/>
                            </a>
                            <div class="portfolio-caption">
                                <h4>{{ mosque.title }} {{ mosque.country|country }} </h4>
                                <a target="_blank" href="{{ path('mosque', {'slug': mosque.slug}) }}">Consultez les
                                    horaires</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if app.request.get('mosque_nb') != 'all' %}
                    <a href="{{ path("homepage", {'mosque_nb':'all'}) }}#mosquees" class="page-scroll btn btn-xl">Voir
                        plus</a>
                {% endif %}
            </div>
        </section>

        <!-- Mosques Modals -->
        {% for mosque in mosquesWithImage %}
            <div class="portfolio-modal modal fade" id="mosque-{{ mosque.slug }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="modal-body">
                                <h2>{{ mosque.title }} {{ mosque.country|country }}</h2>
                                <p class="item-intro text-muted">{{ mosque.associationName }}</p>
                                <img src="{{ vich_uploader_asset(mosque, 'file1') }}"
                                     class="img-responsive  img-centered" alt="{{ mosque.title }}"/>
                                <img class="img-responsive img-centered"
                                     src="{{ vich_uploader_asset(mosque, 'file2') }}">
                                <img class="img-responsive img-centered"
                                     src="{{ vich_uploader_asset(mosque, 'file3') }}">

                                <ul class="list-inline">
                                    <li>Date d'ajout: {{ mosque.created|date("d/m/Y") }}</li>
                                    <li>Consultez les horaires: <a target="_blank"
                                                                   href="{{ path('mosque', {'slug': mosque.slug}) }}">{{ url('mosque', {'slug': mosque.slug}) }}</a>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Participez Section -->
        <section id="participer">
            <div class="container">
                <h2 class="section-heading">équipez votre mosquée</h2>
                <p>
                    Pour participer à ce projet et ainsi équiper votre mosquée c'est très simple :
                </p>
                <h4 class="section-heading">Achetez le matériel ci-dessous et suivez la procédure d'installation, nous pouvons vous assister à distance si nécessaire</h4>
                <ul class="text-muted text-left">
                    <li>Un écran plat, idéalement 80 cm ou plus.</li>

                    <li>Un kit Raspberry PI 3, prix 60€ environ
                        <a target="_blank"
                           href="https://www.amazon.fr/UCreate-Raspberry-Pi-Desktop-Starter/dp/B07BNQ2TWW/ref=sr_1_10?s=computers&ie=UTF8&qid=1529182406&sr=1-10&keywords=un%2Braspberry%2Bpi%2B3">
                            chez amazon
                        </a>
                    </li>
                    <li>Un support mural pour la TV entre 10 et 15€</li>
                    <li>Un cable HDMI + Une multiprise</li>
                    <li>Si vous ne disposez pas d'une connexion internet
                        <a href="https://www.amazon.fr/Horloge-pr%C3%A9cision-DS3231-RTC-Compatible-Raspberry/dp/B01F6MJZGQ/ref=sr_1_4?ie=UTF8&qid=1508527126&sr=8-4&keywords=rtc+ds3231">
                            une horloge RTC
                        </a>
                    </li>

                </ul>
                <img class="img-responsive" src="{{ asset('bundles/app/agency/img/raspberry-kit.png') }}" alt=""><br>
                <h4 class="section-heading">Coût global du matériel : 220€ environ</h4>
                <h4 class="section-heading">Qu'Allah accepte vos œuvres et les notres</h4>
            </div>
        </section>

        <!-- Section Comment istaller l'application -->
        <section id="install" class="bg-light-gray">
            <div class="container">
                <h2 class="section-heading">Installez notre solution</h2>
                <p>
                    Veuillez suivre les étapes ci-dessous :
                </p>
                <br>
                <ol class="text-muted text-left">
                    <li>
                        Télécharger l'image système pré configurée ici <i class="fa fa-hand-o-right"></i>
                        <strong>
                            {% if app.user %}
                                <a target="_blank" href="/static/mawaqit.img.zip">
                                    mawaqit.img.zip
                                </a>
                            {% else %}
                                <a href="{{ path("fos_user_security_login") }}">
                                    Vous devez être connecté pour télécharger l'image système
                                </a>
                            {% endif %}
                        </strong>
                    </li>
                    <li>Brancher la carte micro SD sur votre ordinateur via le port dédié ou sur un lecteur USB de carte SD</li>
                    <li>Téléchargez le logiciel Etcher ici
                        <i class="fa fa-hand-o-right"></i>
                        <a href="https://etcher.io" target="_blank">https://etcher.io</a> puis installez-le sur votre
                        ordinateur
                    </li>
                    <li>
                        Flashez l'image système mawaqit.img.zip sur la carte micro sd avec
                        Etcher<br><br>
                    </li>
                </ol>

                <img src="{{ asset('bundles/app/agency/img/software/etcher.gif') }}" class="img-responsive" alt=""><br>

                <h3>Dernière étape</h3>
                <div class="text-muted text-left">
                    <p>Maintenant que vous avez installé l'image système sur la carte mémoire vous avez deux
                        possibiltés: <br><br>
                    </p>

                    <p>
                        <strong>OPTION 1. Vous avez une connexion internet (WIFI ou Ethernet) ? </strong>
                        Utilisez la version connectée <strong>(RECOMMANDÉE)</strong> elle bénéficie des avantages
                        suivants
                    </p>
                    <ul>
                        <li>Pilotage à distance depuis votre smartphone ou n'importe quel ordinateur et tablette</li>
                        <li>Une version synchronisée sur tous les terminaux, mobiles, tablettes et écrans de la mosquée
                        </li>
                        <li>Envoyez des messages et annonces sur l'écran depuis votre smartphone ou ordinateur</li>
                        <li>Affichage de hadith du prophète "que la prière d'Allah et son salut soient sur lui"</li>
                        <li>Vous bénéficiez des dernières mises à jour automatiquement sans aucune manipulation de votre
                            part
                        </li>
                    </ul>
                    <br>
                    <p>
                        <strong>Suivez les étapes ci-dessous : </strong>
                    </p>

                    <ol>
                        <li>Créez votre compte sur notre interface d'administration <a target="_blank"
                                                                                       href="{{ path('fos_user_registration_register') }}">{{ url('fos_user_registration_register') }}</a>
                        </li>
                        <li>Identifiez-vous puis ajoutez et configurez votre mosquée, un lien internet sera généré à la
                            fin de cette étape
                        </li>
                        <li>Démarez le raspberry et branchez un clavier et une souris usb</li>
                        <li>Connectez-le à internet (WIFI ou câble Ethernet)</li>
                        <li>
                            Ouvrez le fichier <code>online_site.txt</code> présent sur le bureau et remplacez son
                            contenu
                            par le lien généré dans votre compte,
                            exemple: <br>
                            <code>
                                {{ url('mosque', {slug: 'mosquee-essunna-houilles'}) }}<br>
                            </code>
                        </li>
                        <li>Sauvegardez et quittez</li>
                        <li>Lancez Mawaqit depuis le bureau</li>
                        <li>Au lancement le raspberry vérifie si une connexion internet est disponible,
                            dans ce cas il lance la version en ligne, sinon il bascule sur la version locale
                        </li>
                    </ol>

                    <p><strong>OPTION 2. Vous n'avez pas de connexion internet, lancer la version offline : </strong>
                        Il suffit de brancher le raspberry sur l'écran, le logiciel se lancera tout seul. <br>
                        Afin de profiter de la toute dernière version du logiciel, il est recommandé d'exécuter les
                        étapes suivantes : <br>
                    </p>

                    <ol>
                        <li>Quittez le mode plein écran avec F11, puis fermez le logiciel</li>
                        <li>Connetez le raspberry à internet et double-cliquez sur le fichier <code> upgrade.sh</code>
                            présent sur le bureau puis appuyez sur Execute in Terminal. Attendre que la procédure de MAJ soit terminée
                        </li>
                    </ol>
                    <p>vous pouvez après configurer les horaires de votre mosquée.<br></p>
                    <p>
                        <strong>Important :</strong>
                        Le Raspberry ne dispose pas d'horloge RTC (un composant éléctronique doté d'une pile) qui permet
                        de garder l'heure correctement réglée
                        quand il est éteint.<br>
                        Il est donc conseillé d'équiper le raspberry
                        <a href="https://www.amazon.fr/Horloge-pr%C3%A9cision-DS3231-RTC-Compatible-Raspberry/dp/B01F6MJZGQ/ref=sr_1_4?ie=UTF8&qid=1508527126&sr=8-4&keywords=rtc+ds3231">
                            d'une horloge RTC
                        </a>
                        si vous ne comptez pas le connecter à internet, cela évitera la
                        perte de l'heure système en cas de coupure de courant.
                        Il suffit de la brancher comme illustré ci-dessous et taper les commandes suivantes dans
                        LXTerminal<br>
                        <code>sudo date -s "yyyy-mm-dd hh:mm:ss"</code> <br>
                        exemple: <br>
                        <code>sudo date -s "{{ "now"|date("Y-m-d H:m:s") }}"</code> <br>
                        <code>sudo hwclock -w</code> <br><br>
                    </p>
                </div>

                <img class="img-responsive" src="{{ asset('bundles/app/agency/img/raspberry-rtc.jpg') }}" alt=""><br><br>

                <h4 class="text-muted">
                    Pour plus d'informations téléchargez notre manuel d'utilisation <a target="_blank" href="/static/Mawaqit-mode-d-emploi.pdf">ICI</a>
                    et visitez notre chaîne <a target="_blank" href="https://www.youtube.com/channel/UCK0bHMvAlVL8NvyofiMulUw/">YouTube</a>
                </h4>

                <h4 class="text-muted">Vous rencontrez des diffucltés ? envoyez-nous un message <a href="#contact">c'est par ici</a></h4>
            </div>
        </section>


        <!-- FAQ Section -->
        <section id="faq">
            <div class="container">
                <h2 class="section-heading">FAQ</h2>
                {% for faq in faqs %}
                    <div class="panel panel-default">
                        <div class="panel-heading pointer" data-toggle="collapse" href="#{{ faq.slug }}">
                            <span style="font-weight: 700;">{{ faq.question }}</span>
                        </div>
                        <div id="{{ faq.slug }}" class="panel-collapse collapse">
                            <div class="panel-body text-left">
                                {{ faq.answer|raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}

{% block additional_javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/flexSlider/jquery.flexslider-min.js'
        '@AppBundle/Resources/public/agency/js/index.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 2,
                center: {lat: 48, lng: 3}
            });

            var mosquesForMap = {{ mosquesForMap|json_encode|raw }};
            $.each(mosquesForMap, function (i, mosque) {
                addMosque(mosque, map);
            })
        }

        function addMosque(mosque, map) {
            var marker = new google.maps.Marker({
                map: map,
                position: {lng: mosque.lng, lat: mosque.lat},
                title: mosque.name + ' (' + mosque.city + ')',
                icon: {
                    url: '{{ asset('favicon.png') }}',
                    scaledSize: new google.maps.Size(30, 30)
                }
            });

            var infowindow = new google.maps.InfoWindow({
                content: '<div>' +
                '<h4> ' + mosque.name + ' </h4>' +
                '<p> ' +
                (mosque.address ? mosque.address : '') + ' ' + mosque.zipcode + ' ' + mosque.city + ' ' + mosque.countryFullName +
                '</p>' +
                '<p> ' +
                '<a target="_blank" href="' + 'https://mawaqit.net/fr/' + mosque.slug + '">' + 'https://mawaqit.net/fr/' + mosque.slug + ' </a>' +
                '</p>' +
                '</div>'
            });

            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
    </script>

{% endblock %}
