{% extends 'default/layout.html.twig' %}

{% block additional_stylesheets %}
    {% stylesheets
        "bundles/app/flexSlider/flexslider.css"
        "bundles/app/css/index.css"
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>
        <link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-car.css"/>
    {% endstylesheets %}

{% endblock %}

 {% block textHeader %}
     <div class="intro-lead-in">{{ 'home.title.header1'|trans }}</div>
     <div class="intro-heading">{{ 'site_title'|trans }}</div>
     <div class="intro-subheading">{{ 'home.title.header2'|trans }}</div>
     <div class="intro-lead-in" style="font-size: 2rem">{{ 'home.title.header2_2'|trans }}</div>

     <div class="text-center" style="color: #f9deaf; text-transform: uppercase; font-weight: bold; font-size: 1.5rem">
         <div>{{ 'home.title.header3'|trans }}</div>
         <div>{{ 'home.title.header4'|trans }}</div>
     </div>
     <a href="#projet" class="page-scroll btn btn-xl mt-2">{{ 'home.button.discover'|trans }}</a>
 {% endblock %}

{% block content %}
    <div class="text-center">
        <!-- projet Section -->
        <section id="projet">
            <div class="container">
                <h2 class="section-heading">{{ 'home.menu.project'|trans }}</h2>
                <p class="text-muted">{{ 'home.text.project1'|trans|raw }}</p>
                <div class="row">
                    <div class="col-md-4 mt-4">
                        <i class="fas fa-clock feature-icon"></i>
                        <h3>{{ 'home.title.feature1'|trans }}</h3>
                        <div>{{ 'home.text.feature1'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <i class="fas fa-mosque feature-icon"></i>
                        <h3>{{ 'home.title.feature2'|trans }}</h3>
                        <div>{{ 'home.text.feature2'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <i class="fas fa-praying-hands feature-icon"></i>
                        <h3>{{ 'home.title.feature3'|trans }}</h3>
                        <div>{{ 'home.text.feature3'|trans }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-4">
                        <i class="fas fa-bullhorn feature-icon"></i>
                        <h3>{{ 'home.title.feature4'|trans }}</h3>
                        <div>{{ 'home.text.feature4'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <i class="fas fa-palette feature-icon"></i>
                        <h3>{{ 'home.title.feature5'|trans }}</h3>
                        <div>{{ 'home.text.feature5'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <i class="fas fa-thermometer-half feature-icon"></i>
                        <h3>{{ 'home.title.feature6'|trans }}</h3>
                        <div>{{ 'home.text.feature6'|trans }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-4">
                        <i class="fas fa-cogs feature-icon"></i>
                        <h3>{{ 'home.title.feature7'|trans }}</h3>
                        <div>{{ 'home.text.feature7'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <i class="fas fa-wifi feature-icon"></i>
                        <h3>{{ 'home.title.feature8'|trans }}</h3>
                        <div>{{ 'home.text.feature8'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <i class="fas fa-mobile-alt feature-icon"></i>
                        <h3>{{ 'home.title.feature9'|trans }}</h3>
                        <div>{{ 'home.text.feature9'|trans }}</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light-gray">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="screen">
                            <div class="flexslider">
                                <ul class="slides">
                                    {% for i in 1..9 %}
                                        <li><img src="{{ asset('bundles/app/agency/img/software/'~i~'.png') }}"/></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 100px">
                    <div>
                        <a href="https://apps.apple.com/us/app/mawaqit/id1460522683" target="_blank">
                            <img src="{{ asset('bundles/app/prayer-times/img/appstore.svg') }}">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.kanout.mawaqit" target="_blank">
                            <img src="{{ asset('bundles/app/prayer-times/img/playstore.svg') }}">
                        </a>
                    </div>

                    <div class="col-md-offset-4 col-md-4 mt-3">
                        <div class="flexslider">
                            <ul class="slides">
                                {% for i in 10..15 %}
                                    <li><img src="{{ asset('bundles/app/agency/img/software/'~i~'.png') }}"/></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Mosquées équipées Grid Section -->
        <section id="mosquees">
            <div class="container">
                <h2 class="section-heading">{{ 'home.title.numbers'|trans }}</h2>
                <div class="row mt-3 mb-3 odometer-parent">
                    <div class="col-md-4 mt-2">
                        <div class="odometer" data-count="{{ totalMosquesCount }}"></div>
                        <div class="h3">{{ 'home.text.numbers.1'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="odometer" data-count="{{ mosqueNumberByCountry|length }}"></div>
                        <div class="h3">{{ 'home.text.numbers.2'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="odometer" data-count="120000"></div>
                        <div class="h3">{{ 'home.text.numbers.3'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="odometer" data-count="95000"></div>
                        <div class="h3">{{ 'home.text.numbers.4'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="odometer" data-count="2000000"></div>
                        <div class="h3">{{ 'home.text.numbers.5'|trans }}</div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="odometer" data-count="4.8"></div>
                        <div class="h3">{{ 'home.text.numbers.6'|trans }}</div>
                    </div>
                </div>

                <div class="row">
                    <h3 class="section-heading">{{ 'home.title.mosques'|trans }}</h3>
                    <p class="text-muted">
                        {{ 'home.title.mosquesSub'|trans }}
                    </p>
                    <div class="col-md-12">
                        {% for item in mosqueNumberByCountry if item.coordinates %}
                            <button class="btn btn-success mt-1 country"
                                    data-data="{{ item|json_encode }}" onclick="goOnMap(this)">
                                {{ item.country|country(app.request.locale)|upper }}
                                <span class="badge">{{ item.nb }}</span>
                            </button>
                        {% endfor %}
                    </div>

                    <div class="col-md-12 mt-3">
                        <div id="map" style="height: 500px"
                             data-remote="{{ path('mosques_map_ajax', {"countryCode": "countryCode"}) }}"></div>
                    </div>
                </div>

                <div class="row mt-2 mb-4">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <div class="form-group">
                            <input class="form-control input-lg center-placeholder" id="find-mosque"
                                   placeholder="{{ 'home.text.findMosque'|trans }}"
                                   data-remote="{{ path('public_mosque_search_ajax') }}">
                        </div>
                        <p class="text-muted">
                            {{ 'home.text.equipedMosques2'|trans|raw }}
                        </p>
                    </div>
                </div>


                <div class="row">
                    {% for mosque in mosquesWithImage %}
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="#mosque-{{ mosque.slug }}" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="{{ vich_uploader_asset(mosque, 'file1') | imagine_filter('small_370x210') }}"
                                     class="img-responsive"
                                     alt="{{ mosque.name }}"/>
                            </a>
                            <div class="portfolio-caption">
                                <h4>{{ mosque.title }} {{ mosque.country|country }} </h4>
                                <a target="_blank"
                                   href="{{ path('mosque', {'slug': mosque.slug}) }}">{{ 'home.text.viewPrayTimes'|trans }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ path("homepage", {'page': nextPage }) }}#mosquees"
                   class="page-scroll btn btn-xl">{{ 'home.button.viewPlus'|trans }}</a>

            </div>
        </section>

        <!-- Mosques Modals -->
        {% for mosque in mosquesWithImage %}
            <div class="portfolio-modal modal fade" id="mosque-{{ mosque.slug }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="modal-body">
                                <h2>{{ mosque.title }} {{ mosque.country|country }}</h2>
                                <p class="item-intro text-muted">{{ mosque.associationName }}</p>
                                <img src="{{ vich_uploader_asset(mosque, 'file1') | imagine_filter('small_370x210') }}"
                                     class="img-responsive  img-centered" alt="{{ mosque.title }}"/>

                                {% if mosque.image2 is not null %}
                                    <img class="img-responsive img-centered"
                                         src="{{ vich_uploader_asset(mosque, 'file2') | imagine_filter('small_370x210') }}">
                                {% endif %}
                                {% if mosque.image3 is not null %}
                                    <img class="img-responsive img-centered"
                                         src="{{ vich_uploader_asset(mosque, 'file3') | imagine_filter('small_370x210') }}">
                                {% endif %}

                                <ul class="list-inline">
                                    <li>{{ 'home.text.addingDate'|trans }}: {{ mosque.created|date("d/m/Y") }}</li>
                                    <li>
                                        {{ 'home.text.viewPrayTimes'|trans }}: <a target="_blank"
                                                                                  href="{{ path('mosque', {'slug': mosque.slug}) }}">{{ url('mosque', {'slug': mosque.slug}) }}</a>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- FAQ Section -->
        <section id="faq" class="bg-light-gray">
            <div class="container">
                <h2 class="section-heading">{{ 'home.title.faq'|trans }}</h2>
                {% for faq in faqs %}
                    <div class="panel panel-default">
                        <div class="panel-heading pointer" data-toggle="collapse" href="#{{ faq.slug }}">
                            <span style="font-weight: 700;">{{ faq.question }}</span>
                        </div>
                        <div id="{{ faq.slug }}" class="panel-collapse collapse">
                            <div class="panel-body text-left">
                                {{ faq.answer|raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}

{% block additional_javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/flexSlider/jquery.flexslider-min.js'
        '@AppBundle/Resources/public/agency/js/index.js' %}
        <script src="{{ asset_url }}"></script>

        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                crossorigin=""></script>
        <script src="http://github.hubspot.com/odometer/odometer.js"></script>

        <script>
            var map = L.map('map', {
                scrollWheelZoom: false,
                center: [28.033886, 1.659626],
                zoom: 5,
            });
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

            function goOnMap(button) {
                let data = $(button).data("data");
                map.setView([data.coordinates.lat, data.coordinates.lng]);

                $.ajax({
                    url: $("#map").data("remote").replace("countryCode", data.country),
                    success: function (resp) {
                        $.each(resp, function (i, mosque) {
                            var popup = '<div>' +
                                '<h4> ' + mosque.name + ' </h4>' +
                                '<p> ' +
                                mosque.address + ' ' + mosque.zipcode + ' ' + mosque.city + ' ' + mosque.countryFullName +
                                '</p>' +
                                '<p> ' +
                                '<a target="_blank" href="' + 'https://mawaqit.net/{{ app.request.locale }}/' + mosque.slug + '">' + 'https://mawaqit.net/{{ app.request.locale }}/' + mosque.slug + '</a>' +
                                '</p>' +
                                '</div>';

                            var icon = L.icon({
                                iconUrl: "https://unpkg.com/leaflet@1.6.0/dist/images/marker-icon.png",
                                iconSize: [16, 24],
                            });
                            marker = new L.marker([mosque.lat, mosque.lng], {
                                icon: icon
                            })
                                .bindPopup(popup)
                                .addTo(map);
                        });
                    }
                });
            }

            $(function() {
                $(".country:eq(1)").click();
            });
        </script>
    {% endjavascripts %}

{% endblock %}