{% extends 'default/layout.html.twig' %}

{% block content %}
    <!-- Services Section -->
    <section id="projet">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Le projet</h2>
                    <p class="text-muted">
                        La plupart de nos mosquées sont aujourd'hui équipées d’horloges digitales en forme de tableau éléctronique. Ces horloges ne répondent 
                        malheureusement pas aux besoins de plus en plus variés et exigents de nos mosquées. 
                        Les horloges digitales sont généralement dotées d’un réglage manuel
                        (à faire tous les jours), ou d’un réglage automatique avec donc des horaires parfois inexacts 
                        et pas forcément adapatés à la ville dans laquelle se situe la mosquée .
                        De plus leurs fonctionalités se limitent à l'affichage des horaires de prière.
                    </p>
                    <br><br>
                    <div class="row text-center">
                        <div class="col-lg-6 col-xs-12"><img src="{{ asset('bundles/app/agency/img/electronic-prayer-board-1.png') }}" class="img-responsive" alt=""></div>
                        <div class="col-lg-6 col-xs-12"><img src="{{ asset('bundles/app/agency/img/electronic-prayer-board-2.jpg') }}" class="img-responsive" style="display: inline" alt=""></div>
                    </div>
                    <br><br>
                    <p class="text-muted">
                        Avec l’aide d’Allah le Tout Puissant, nous nous sommes donc lancés dans le développement d’un logiciel pour améliorer et simplifier l’affichage des horaires de prière. <br>
                        Après plusieurs mois de travail et de tests effectués dans différentes mosquées, nous sommes parvenus, grâce à Allah, à sortir une version stable et précise.  
                        <br><br>
                        Notre logiciel est entièrement gratuit et open source, il est accessible sur github à l'adresse suivante 
                        <a target="_blank" href="https://github.com/binary010100/prayer-times">https://github.com/binary010100/prayer-times</a><br>
                        <i style="font-weight: bold" class="fa fa-warning"> TOUTE UTILISATION A BUT LUCRATIF EST STRICTEMENT INTERDITE</i>
                    </p>
                    <br>
                    <h3 class="section-heading">Comment ça fonctionne ?</h3>
                    <p class="text-muted">
                        Notre logiciel est développé en JavaScript, un langage web très connu, exécuté par un mini ordinateur, le Raspberry Pi 3 ou par n'importe qu'elle autre ordinateur, 
                        TV connectée, box TV ou toute autre apareil pouvant lancer un navigateur internet (Firefox ou chrome). En effet le logiciel est une simple page internet est toute l'intelligence est 
                        concentrée dans du code javascript.
                    </p>
                    <img src="{{ asset('bundles/app/agency/img/raspberry.jpg') }}" class="img-responsive" style="display: inline" alt="">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <br>
                    <h4 class="section-heading">Quelles sont les fonctionnalités principales du logiciel ?</h4>
                    <br>
                    <h4 class="service-heading">Affichage des horaires de prière en plusieurs langues</h4>
                    <p class="text-muted">
                        Le logiciel permet un affichage en français, arabe et anglais.<br>
                        Aucun réglage à faire, tout est paramétré automatiquement tout comme le changement d'heure été/hiver.
                    </p>
                </div>
                <div class="col-lg-offset-2 col-lg-8 col-xs-12"><img src="{{ asset('bundles/app/agency/img/software/french.png') }}" class="img-responsive" alt=""><br></div>
                <div class="col-lg-offset-2 col-lg-8 col-xs-12"><img src="{{ asset('bundles/app/agency/img/software/arabic.png') }}" class="img-responsive" alt=""><br></div>
                <div class="col-md-12">
                    <h4 class="service-heading">Signal sonor et visuel du adhân et Iqâma</h4>
                    <p class="text-muted">Lorsqu’il est l'heure du adhan ou de la  iqama, l'écran se met à clignoter et un signal sonor retentira.</p>
                </div>
                <div class="col-lg-offset-2 col-lg-8 col-xs-12"><img src="{{ asset('bundles/app/agency/img/software/adhan-1.png') }}" class="img-responsive" alt=""><br></div>
                <div class="col-lg-offset-2 col-lg-8 col-xs-12"><img src="{{ asset('bundles/app/agency/img/software/adhan-2.png') }}" class="img-responsive" alt=""><br></div>
                <div class="col-lg-offset-2 col-lg-8 col-xs-12"><img src="{{ asset('bundles/app/agency/img/software/iqama.png') }}" class="img-responsive" alt=""><br></div>
                <div class="col-md-12">
                    <h4 class="service-heading">Affichage de rappels et invocations</h4>
                    <p class="text-muted">Entre chaque adhan et iqama, ainsi qu'à la fin de chaque prière, des rappels et invocations sont affichés.</p>
                </div>
                <div class="col-lg-offset-2 col-lg-8 col-xs-12"><img src="{{ asset('bundles/app/agency/img/software/douaa-after-adhan.png') }}" class="img-responsive" alt=""><br></div>
                <div class="col-lg-offset-2 col-lg-8 col-xs-12"><img src="{{ asset('bundles/app/agency/img/software/douaa-between-adhan-and-iqama.png') }}" class="img-responsive" alt=""><br></div>
                <div class="col-lg-offset-2 col-lg-8 col-xs-12"><img src="{{ asset('bundles/app/agency/img/software/douaa-after-prayer.png') }}" class="img-responsive" alt=""><br></div>
                <div class="col-md-12">
                    <h4 class="service-heading">Affichage d'annonces (version connectée uniquement)</h4>
                    <p class="text-muted">
                        Avant et après chaque prière, si configurés depuis l'éspace utilisateur les annonces défileront sur l'écran.<br>
                    </p>
                </div>
                <div class="col-lg-offset-2 col-lg-8 col-xs-12"><img src="{{ asset('bundles/app/agency/img/software/message.png') }}" class="img-responsive" alt=""><br></div>
                <div class="col-md-12">
                    <h4 class="service-heading">Entièrement configurable</h4>
                    <p class="text-muted">
                        Nous avons essayé de pousser la configuration du logiciel au maximum. Voici quelques exemples de fonctionnalités 
                        directement configurables depuis l'interface dédiée.
                    </p>
                    <ul class="text-muted text-left">
                        <li>Choix entre calcul des horaires automatique par le logiciel ou lecture depuis des fichiers CSV</li>
                        <li>Choix de la langue</li>
                        <li>Affichage de l'heure de l'aïd à l’approche de l’évènement</li>
                        <li>Fixation des horaires (exemple: fixer l'heure du ichaa en hiver)</li>
                        <li>Ajustement des temps d'attente entre adhan et iqama</li>
                        <li>Ajustement des horaires </li>
                        <li>Modification des textes affichés en haut et en bas de l'écran</li>
                        <li>Modification de la couleur de fond</li>
                        <li>Affichange d'annonces en texte ou image</li>
                        <li>Bip lors du adhân et iqâma</li>
                        <li>Affichage du QR code pour faciliter la copie du lien internet</li>
                    </ul>

                </div>
                <div class="col-md-12">
                    <h4 class="service-heading">Une version adaptée au mobile et tablette</h4>
                    <p class="text-muted">
                        Afin de faciliter aux fideles la consultation des horaires de prière de leur mosquées, 
                        nous créons un site internet adatapté au mobile et tablette pour chaque installation.<br>
                    </p>
                    <div class="text-left">
                        <div>Exemples: </div>
                        <div><a target="_blank" href="{{path('mosque', {'slug': 'mosquee-essunna-houilles'})}}">{{url('mosque', {'slug': 'mosquee-essunna-houilles'})}}</a> </div>
                        <div><a target="_blank" href="{{path('mosque', {'slug': 'mosquee-ennour-gennevilliers'})}}">{{url('mosque', {'slug': 'mosquee-ennour-gennevilliers'})}}</a> </div>
                        </br>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12"><img src="{{ asset('bundles/app/agency/img/software/mobile.png') }}" class="img-responsive" style="display: inline" alt=""><br></div>

            </div>
        </div>
    </section>

    <!-- Mosquées équipées Grid Section -->
    <section id="mosquees" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quelques mosquées équipées</h2>
                    <h3 class="section-subheading text-muted">Grace à Allah nous avons pu installé notre logiciel dans plusieurs mosquée partout en France et autres pays, voici quelques exemples</h3>
                </div>
            </div>
            <div class="row">

                {% for mosque in mosques %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#{{mosque.slug}}" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ vich_uploader_asset(mosque, 'file1') }}" alt="{{ mosque.image1 }}" class="img-responsive mosque-image" alt="{{mosque.name}}"/>
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{mosque.name}} - {{mosque.city}} {{mosque.country}} </h4>
                            <a target="_blank" href="{{path('mosque', {'slug': mosque.slug})}}">Consultez les horaires</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if app.request.get('mosque_nb') != 'all' %}
                <div class="row text-center">
                    <a href="{{path("homepage", {'mosque_nb':'all'})}}#mosquees" type="button" class="page-scroll btn btn-xl">Voir plus</a>
                </div>
            {% endif %}
    </section>


    <!-- Mosques Modals -->

    {% for mosque in mosques %}
        <div class="portfolio-modal modal fade" id="{{mosque.slug}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="modal-body">
                                    <h2>{{mosque.name}} - {{mosque.city}}</h2>
                                    <p class="item-intro text-muted">{{mosque.associationName}}</p>
                                    <img src="{{ vich_uploader_asset(mosque, 'file1') }}" alt="{{ mosque.image1 }}" class="img-responsive  img-centered" alt="{{mosque.name}}"/>
                                    {#<p>{{mosque.comment}}</p>#}

                                    <img class="img-responsive img-centered" src="{{ vich_uploader_asset(mosque, 'file2') }}">
                                    <img class="img-responsive img-centered" src="{{ vich_uploader_asset(mosque, 'file3') }}">

                                    <ul class="list-inline">
                                        <li>Date d'installation: {{mosque.created|date("d/m/Y")}}</li> <br>
                                        <li>Consultez les horaires: <a target="_blank" href="{{path('mosque', {'slug': mosque.slug})}}">{{url('mosque', {'slug': mosque.slug})}}</a></li>
                                    </ul>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- Participez Section -->
    <section id="participer" style="padding-bottom: 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">équipez votre mosquée</h2>
                    <p>
                        <i style="font-weight: bold">Nous installons notre logiciel gratuitement dans votre mosquée, dans le seul but de satisfaire Allah et espérer Son paradis.</i> <br>
                        Pour participer à ce projet et ainsi équiper votre mosquée c'est très simple :
                    </p>
                    <br>
                    <h4 class="section-heading">Acheter le matériel et nous nous occupons de l'installtion</h4>
                    <p class="text-muted">Voici la liste du matériel nécessaire à l’installation</p>
                    <ul class="text-muted text-left">
                        <li>Un écran plat équipé de port HDMI (idéalement 32" / 80 cm ou plus), prix à partir de 160€ 
                            <a target="_blank" href="http://www.fnac.com/TV-Polaroid-TQL32R4-HD/a8111239/w-4?oref=00000000-0000-0000-0000-000000000000&Origin=SEA_GOOGLE_PLA_TV&mckv=_dc&pcrid=64457390063&ectrans=1&gclid=CjwKEAjw_uvHBRDUkumF0tLFp3cSJACAIHMYB1pCi6As-CoJJpU7BP8zBZ03lyuSoQ0B2A65pujyihoC_Zfw_wcB">
                                chez la fnac par exemple
                            </a> (des écrans d'occasion sont les bienvenus aussi)
                        </li>

                        <li>Un kit Raspberry PI 3, prix 55€
                            <a target="_blank" href="https://www.amazon.fr/Raspberry-Pi-Official-Desktop-Starter/dp/B01CI5879A/ref=sr_1_2?ie=UTF8&qid=1492881089&sr=8-2&keywords=un%2Braspberry%2Bpi%2B3&th=1">
                                chez amzon par exemple
                            </a>
                            <img class="img-responsive img-centered" src="{{ asset('bundles/app/agency/img/raspberry-kit.png') }}" alt=""><br>
                            Ou encore moins cher chez
                            <a target="_blank" href="https://fr.aliexpress.com/item/H-Raspberry-Pi-3-Model-B-kit-pi-3-board-pi-3-case-European-power-supply/32785912149.html?spm=2114.13010608.0.0.UlZLi4">
                                Aliexpress 41€ environ
                            </a>
                            mais livraison sous 15-24 jours
                            <br>

                            <img class="img-responsive img-centered" src="{{ asset('bundles/app/agency/img/raspberry-kit-2.png') }}" alt=""><br>
                        </li>
                        <li>Un support mural pour la TV entre 10 et 15€</li>
                        <li>Un cable HDMI + Une multiprise 4€ environ</li>
                    </ul>
                    <br>
                    <h4 class="section-heading">Coût global du matériel : 220€ environ</h4>
                    <h4 class="section-heading">Qu'Allah accepte vos œuvres et les notres</h4>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Comment istaller l'application -->
    <section id="install">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Installez vous même le logiciel</h2>
                    <p>
                        Vous pouvez aussi installer vous même le logiciel sur le raspberry, il suffit de suivre les étapes ci-dessous :
                    </p>
                    <br>
                    <ol class="text-muted text-left">
                        <li>
                            Télécharger l'image système pré configurée ici <i class="fa fa-hand-o-right"></i> 
                            <strong>
                                <a target="_blank" href="/static/prayer-times-raspbian-stable.img.zip">
                                    prayer-times-raspbian-stable.img.zip
                                </a>
                            </strong> puis extrayez le contenu du zip
                        </li>
                        <li>Brancher la carte micro SD sur votre ordinateur via le port dédié ou sur un lecteur USB</li>
                        <li>Téléchargez le logiciel Etcher ici 
                            <i class="fa fa-hand-o-right"></i> 
                            <a href="https://etcher.io" target="_blank">https://etcher.io</a> puis installez-le sur votre ordinateur
                        </li>
                        <li>
                            Flashez l'image système prayer-times-raspbian-stabe.img sur la carte micro sd avec Etcher<br><br>
                            <img src="{{ asset('bundles/app/agency/img/software/etcher.gif') }}" class="img-responsive" alt="">
                        </li>
                    </ol>

                    <br>
                    <h3>Dernière étape</h3>
                    <p class="text-muted text-left">Maintenant que vous avez installé l'image système sur la carte mémoire vous avez deux possibiltés: <br><br>
                        <strong>1. Lancer le logiciel embarqué (version non connectée) : </strong>                             
                        Il suffit de brancher le raspberry sur l'écran, le logiciel se lancera tout seul. <br> 
                        Afin de profiter de la toute dernière version du logiciel, il est recommandé d'exécuter les étapes suivantes : <br>
                    </p>
                    <ol class="text-muted text-left">
                        <li>Ouverez le LXTerminal depuis le menu raspberry</li>
                        <li>Tapez la commande suivante: <code>./install-from-server.sh</code></li>
                    </ol>
                    <p class="text-muted text-left">
                        vous pouvez après configurer les horaires de votre mosquée.<br><br>
                        <strong>2. Vous avez une connexion internet (WIFI ou Ethernet) dans la mosquée ? 
                        </strong> Utilisez la version connectée <strong>(RECOMMANDÉE)</strong> qui bénéficie des avantages suivants  <br>
                    </p>
                    
                    <ul class="text-muted text-left">
                        <li>Pilotage à distance depuis votre smartphone ou n'importe qu'elle ordinateur et tablette</li>
                        <li>Une version synchronisée sur tous les terminaux, mobile, tablette et écran de la mosquée</li>
                        <li>Vous bénificiez des dernières mise à jour automatiquement sans aucune manipulation de votre part</li>
                        <li>Envoyez des messages et annonces sur l'écran depuis votre smartphone ou ordinateur</li>
                    </ul>
                    <br>
                    <h4 class="text-muted text-left">
                        Suivez les étapes ci-dessous : 
                    </h4>
                    <ol class="text-muted text-left">
                        <li>Créez votre compte sur notre interface d'administration <a target="_blank" href="{{path('fos_user_registration_register')}}">{{url('fos_user_registration_register')}}</a></li>
                        <li>Identifiez-vous puis ajoutez et configurez votre mosquée, un lien internet sera généré à la fin de cette étape</li>
                        <li>Démmarez le raspberry et branchez un clavier et une souris usb</li>
                        <li>Connectez-le à internet (WIFI ou câble Ethernet)</li>
                        <li>
                            Ouvrez le fichier <code>site.txt</code> présent sur le bureau et remplacez <code>http://localhost</code> 
                            par le lien généré dans votre compte, 
                            exemple: <br>
                            <code>
                                {{url('mosque', {slug: 'mosquee-essunna-houilles'})}}<br>
                            </code>
                        </li>

                        <li>Sauvegardez et redémarrez le raspberry</li>
                    </ol>
                    <p class="text-muted text-left">Vous pouvez nous envoyer un message <a href="#contact">ici</a> si vous rencontrez des diffucltées.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contactez nous</h2>
                    <p class="text-primary" style="font-weight: bold; font-size: 130%">
                        Vous avez des questions sur la démarche à suivre pour équiper votre mosquée avec notre logiciel. 
                        Contactez nous via le formulaire ci-dessous. Nous vous répondrons dans les meilleurs délais.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom *" id="name" required data-validation-required-message="Veuillez saisir votre nom.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Veuillez saisir votre adresse.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Téléphone *" id="phone" required data-validation-required-message="Veuillez saisir votre numéro de téléphone.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message *" id="message" required data-validation-required-message="Veuillez saisir votre message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
