{% extends 'default/layout.html.twig' %}

{% block additional_stylesheets %}
    {% stylesheets
        "bundles/app/flexSlider/flexslider.css"
        "bundles/app/css/index.css"
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="text-center">
        <!-- projet Section -->
        <section id="projet">
            <div class="container">
                <h2 class="section-heading">Le projet</h2>
                <p class="text-muted">
                    La plupart de nos mosquées sont aujourd'hui équipées d’horloges digitales en forme de tableau
                    éléctronique. Ces horloges ne répondent
                    malheureusement pas aux besoins de plus en plus variés et exigents de nos mosquées.
                    Les horloges digitales sont généralement dotées d’un réglage manuel
                    (à faire tous les jours), ou d’un réglage automatique avec donc des horaires parfois inexacts
                    et pas forcément adapatés à la ville dans laquelle se situe la mosquée .
                    De plus leurs fonctionalités se limitent à l'affichage des horaires de prière.
                </p>

                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="flexslider text-center electronic-board">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/electronic-prayer-board-1.png') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/electronic-prayer-board-2.png') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <p class="text-muted">
                    Avec l’aide d’Allah le Tout Puissant, nous nous sommes donc lancés dans le développement d’un
                    logiciel pour améliorer et simplifier l’affichage des horaires de prière. <br>
                    Après plusieurs mois de travail et de tests effectués dans différentes mosquées, nous sommes
                    parvenus, grâce à Allah, à sortir une version stable et précise.
                    <br><br>
                    Notre solution est un WAQF fi sabili Allah et donc gratuite. Le code est open source, il est
                    accessible sur github à l'adresse
                    suivante
                    <a target="_blank" href="https://github.com/binary010100/mawaqit">https://github.com/binary010100/mawaqit</a><br>
                    <i style="font-weight: bold" class="fa fa-warning"></i> TOUTE UTILISATION A BUT LUCRATIF EST
                    STRICTEMENT INTERDITE, veuillez respectez notre choix.
                </p>

                <h3 class="section-heading">Comment ça fonctionne ?</h3>
                <p class="text-muted">
                    Notre logiciel est développé en JavaScript un langage web très connu, exécuté par un mini
                    ordinateur, le Raspberry Pi 3 ou par n'importe qu'elle autre appareil pouvant lancer un navigateur
                    internet,
                    tel que : ordinateur, Apple TV, Android TV...
                    En effet le logiciel est une simple page internet est toute l'intelligence est concentrée dans du
                    code javascript.
                </p>

                <img src="{{ asset('bundles/app/agency/img/raspberry.jpg') }}" class="img-responsive"
                     style="display: inline" alt="">

                <h3 class="section-heading">Quelles sont les fonctionnalités principales du logiciel ?</h3>

                <h4 class="service-heading">Affichage des horaires de prière en plusieurs langues</h4>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/1.JPG') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/2.JPG') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/3.JPG') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 class="service-heading">Signal sonor et visuel du adhân et Iqâma</h4>
                <p class="text-muted">Lorsqu’il est l'heure du adhan ou de la iqama, l'écran se met à clignoter et un
                    signal sonor retentira.</p>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/4.JPG') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/5.JPG') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/6.JPG') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h4 class="service-heading">Affichage de rappels et invocations</h4>
                <p class="text-muted">Entre chaque adhan et iqama, ainsi qu'à la fin de chaque prière, des rappels et
                    invocations sont affichés.</p>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/7.JPG') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/8.JPG') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/9.JPG') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/10.JPG') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 class="service-heading">Affichage d'annonces en texte ou images</h4>
                <p class="text-muted">
                    Avant et après chaque prière, si configurés depuis l'éspace utilisateur les annonces défileront sur
                    l'écran.<br>
                </p>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/11.JPG') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/12.JPG') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 class="service-heading">Affichage de hadiths</h4>
                <p class="text-muted">
                    Afin de rendre l'écran encore plus utile, le logiciel permet un affichage aléatoire d'un hadith du
                    prophète "que la prière d'Allah et son salut soient sur lui", toutes les 5 minutes<br>
                </p>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/13.JPG') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/14.JPG') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h4 class="service-heading">Une version adaptée au mobile et tablette</h4>
                <p class="text-muted">
                    Afin de faciliter aux fideles la consultation des horaires de prière de leur mosquées,
                    nous créons un site internet adatapté au mobile et tablette pour chaque installation.<br>
                </p>
                <p class="text-left">
                    Exemples: <a target="_blank"
                                 href="{{ path('mosque', {'slug': 'mosquee-essunna-houilles'}) }}">{{ url('mosque', {'slug': 'mosquee-essunna-houilles'}) }}</a>
                </p>

                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/15.png') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/16.png') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h4 class="service-heading">Pilotez l'écran depuis votre smartphone</h4>

                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/17.png') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/18.png') }}"/>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/agency/img/software/19.png') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h4 class="service-heading">Entièrement configurable</h4>
                <p class="text-muted">
                    Nous avons essayé de pousser la configuration du logiciel au maximum. Voici quelques exemples de
                    fonctionnalités
                    directement configurables depuis l'interface dédiée.
                </p>
                <ul class="text-muted text-left">
                    <li>Choix entre calcul des horaires automatique par le logiciel ou lecture depuis des fichiers CSV
                    </li>
                    <li>Choix de la langue</li>
                    <li>Affichage de l'heure de l'aïd à l’approche de l’évènement</li>
                    <li>Fixation des horaires (exemple: fixer l'heure du `isha en hiver)</li>
                    <li>Ajustement des temps d'attente entre adhan et iqama</li>
                    <li>Compte à rebours avant iqama</li>
                    <li>Ajustement des horaires</li>
                    <li>Affichage d'annonces en texte ou image</li>
                    <li>Modification des textes affichés en haut et en bas de l'écran</li>
                    <li>Modification de la couleur de fond</li>
                    <li>Bip lors du adhân et iqâma</li>
                    <li>Adhan du haram</li>
                    <li>Affichage de la temprérature</li>
                    <li>Affichage du QR code pour faciliter la copie du lien internet</li>
                </ul>

                <h4 class="service-heading">Avis de nos utilisateurs</h4>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsalah.msila%2Fposts%2F10214103240952919%3A0&width=500"
                                width="100%" height="390" style="border:none;overflow:hidden" scrolling="no"
                                frameborder="0" allowTransparency="true"></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fali.ishac%2Fposts%2F1677256215629018%3A0&width=500"
                                width="100%" height="409" style="border:none;overflow:hidden" scrolling="no"
                                frameborder="0" allowTransparency="true"></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fabdelkhalek.hammadou.3%2Fposts%2F1781763368515086%3A0&width=500"
                                width="100%" height="409" style="border:none;overflow:hidden" scrolling="no"
                                frameborder="0" allowTransparency="true"></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkheloufi.mokhtar.dz%2Fposts%2F10215817249726805%3A0&width=500"
                                width="100%" height="390" style="border:none;overflow:hidden" scrolling="no"
                                frameborder="0" allowTransparency="true"></iframe>
                    </div>
                </div>
            </div>

        </section>

        <!-- Mosquées équipées Grid Section -->
        <section id="mosquees" class="bg-light-gray">
            <div class="container">
                <h2 class="section-heading">Quelques mosquées équipées</h2>
                <p class="section-subheading text-muted">
                    Grace à Allah notre système est installé dans <strong>{{ totalMosquesCount }}</strong>
                    mosquées et domiciles partout dans le monde, voici quelques exemples
                </p>

                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            {% for item in mosqueNumberByCountry %}
                                <button class="btn btn-success mt-1">
                                    {{ item.country|country|upper }} <span class="badge">{{ item.nb }}</span>
                                </button>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="map"></div>
                    </div>
                </div>

                <div class="row mt-2 mb-4">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <div class="form-group">
                            <input class="form-control input-lg center-placeholder" id="find-mosque" placeholder="Cherchez une mosquée mawaqit par ville, code postale, pays..."
                                   data-remote="{{ path('public_mosque_search_ajax') }}">
                        </div>
                        <p class="text-muted">
                            Mawaqit vous propose les horaires de prière exactes, telles qu'elles sont pratiquées par les mosquées, <br>
                            cherchez une mosquée et consultez ses horaires.
                        </p>
                    </div>
                </div>


                <div class="row">
                    {% for mosque in mosquesWithImage %}
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="#mosque-{{ mosque.slug }}" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="{{ vich_uploader_asset(mosque, 'file1') }}"
                                     class="img-responsive mosque-image"
                                     alt="{{ mosque.name }}"/>
                            </a>
                            <div class="portfolio-caption">
                                <h4>{{ mosque.title }} {{ mosque.country|country }} </h4>
                                <a target="_blank" href="{{ path('mosque', {'slug': mosque.slug}) }}">Consultez les
                                    horaires</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if app.request.get('mosque_nb') != 'all' %}
                    <a href="{{ path("homepage", {'mosque_nb':'all'}) }}#mosquees" class="page-scroll btn btn-xl">Voir
                        plus</a>
                {% endif %}
            </div>
        </section>

        <!-- Mosques Modals -->
        {% for mosque in mosquesWithImage %}
            <div class="portfolio-modal modal fade" id="mosque-{{ mosque.slug }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="modal-body">
                                <h2>{{ mosque.title }} {{ mosque.country|country }}</h2>
                                <p class="item-intro text-muted">{{ mosque.associationName }}</p>
                                <img src="{{ vich_uploader_asset(mosque, 'file1') }}"
                                     class="img-responsive  img-centered" alt="{{ mosque.title }}"/>
                                <img class="img-responsive img-centered"
                                     src="{{ vich_uploader_asset(mosque, 'file2') }}">
                                <img class="img-responsive img-centered"
                                     src="{{ vich_uploader_asset(mosque, 'file3') }}">

                                <ul class="list-inline">
                                    <li>Date d'ajout: {{ mosque.created|date("d/m/Y") }}</li>
                                    <li>Consultez les horaires: <a target="_blank"
                                                                   href="{{ path('mosque', {'slug': mosque.slug}) }}">{{ url('mosque', {'slug': mosque.slug}) }}</a>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Participez Section -->
        <section id="participer">
            <div class="container">
                <h2 class="section-heading">équipez votre mosquée</h2>
                <p>
                    Pour participer à ce projet et ainsi équiper votre mosquée c'est très simple :
                </p>
                <h4 class="section-heading">Achetez le matériel ci-dessous et suivez la procédure d'installation, nous pouvons vous assister à distance si nécessaire</h4>
                <ul class="text-muted text-left">
                    <li>Un écran plat, idéalement 80 cm ou plus.</li>

                    <li>Un kit Raspberry PI 3, prix 60€ environ
                        <a target="_blank"
                           href="https://www.amazon.fr/Raspberry-Pi-Official-Desktop-Starter/dp/B01CI5879A/ref=sr_1_2?ie=UTF8&qid=1492881089&sr=8-2&keywords=un%2Braspberry%2Bpi%2B3&th=1">
                            chez amazon
                        </a>
                    </li>
                    <li>Un support mural pour la TV entre 10 et 15€</li>
                    <li>Un cable HDMI + Une multiprise</li>
                    <li>Si vous ne disposez pas d'une connexion internet
                        <a href="https://www.amazon.fr/Horloge-pr%C3%A9cision-DS3231-RTC-Compatible-Raspberry/dp/B01F6MJZGQ/ref=sr_1_4?ie=UTF8&qid=1508527126&sr=8-4&keywords=rtc+ds3231">
                            une horloge RTC
                        </a>
                    </li>

                </ul>
                <img class="img-responsive" src="{{ asset('bundles/app/agency/img/raspberry-kit.png') }}" alt=""><br>
                <h4 class="section-heading">Coût global du matériel : 220€ environ</h4>
                <h4 class="section-heading">Qu'Allah accepte vos œuvres et les notres</h4>
            </div>
        </section>

        <!-- Section Comment istaller l'application -->
        <section id="install" class="bg-light-gray">
            <div class="container">
                <h2 class="section-heading">Installez notre solution</h2>
                <p>
                   Veuillez suivre les étapes ci-dessous :
                </p>
                <br>
                <ol class="text-muted text-left">
                    <li>
                        Télécharger l'image système pré configurée ici <i class="fa fa-hand-o-right"></i>
                        <strong>
                            {% if app.user %}
                                <a target="_blank" href="/static/mawaqit.img.zip">
                                    mawaqit.img.zip
                                </a>
                            {% else %}
                                <a href="{{ path("fos_user_security_login") }}">
                                    Vous devez être connecté pour télécharger l'image système
                                </a>
                            {% endif %}
                        </strong>
                    </li>
                    <li>Brancher la carte micro SD sur votre ordinateur via le port dédié ou sur un lecteur USB</li>
                    <li>Téléchargez le logiciel Etcher ici
                        <i class="fa fa-hand-o-right"></i>
                        <a href="https://etcher.io" target="_blank">https://etcher.io</a> puis installez-le sur votre
                        ordinateur
                    </li>
                    <li>
                        Flashez l'image système mawaqit.img.zip sur la carte micro sd avec
                        Etcher<br><br>
                    </li>
                </ol>

                <img src="{{ asset('bundles/app/agency/img/software/etcher.gif') }}" class="img-responsive" alt=""><br>

                <h3>Dernière étape</h3>
                <div class="text-muted text-left">
                    <p>Maintenant que vous avez installé l'image système sur la carte mémoire vous avez deux
                        possibiltés: <br><br>
                    </p>

                    <p>
                        <strong>OPTION 1. Vous avez une connexion internet (WIFI ou Ethernet) ? </strong>
                        Utilisez la version connectée <strong>(RECOMMANDÉE)</strong> elle bénéficie des avantages
                        suivants
                    </p>
                    <ul>
                        <li>Pilotage à distance depuis votre smartphone ou n'importe qu'elle ordinateur et tablette</li>
                        <li>Une version synchronisée sur tous les terminaux, mobile, tablette et écran de la mosquée
                        </li>
                        <li>Envoyez des messages et annonces sur l'écran depuis votre smartphone ou ordinateur</li>
                        <li>Affichage de hadith du prophète "que la prière d'Allah et son salut soient sur lui"</li>
                        <li>Vous bénificiez des dernières mise à jour automatiquement sans aucune manipulation de votre
                            part
                        </li>
                    </ul>
                    <br>
                    <p>
                        <strong>Suivez les étapes ci-dessous : </strong>
                    </p>

                    <ol>
                        <li>Créez votre compte sur notre interface d'administration <a target="_blank"
                                                                                       href="{{ path('fos_user_registration_register') }}">{{ url('fos_user_registration_register') }}</a>
                        </li>
                        <li>Identifiez-vous puis ajoutez et configurez votre mosquée, un lien internet sera généré à la
                            fin de cette étape
                        </li>
                        <li>Démmarez le raspberry et branchez un clavier et une souris usb</li>
                        <li>Connectez-le à internet (WIFI ou câble Ethernet)</li>
                        <li>
                            Ouvrez le fichier <code>online_site.txt</code> présent sur le bureau et remplacez son
                            contenu
                            par le lien généré dans votre compte,
                            exemple: <br>
                            <code>
                                {{ url('mosque', {slug: 'mosquee-essunna-houilles'}) }}<br>
                            </code>
                        </li>
                        <li>Sauvegardez et quittez</li>
                        <li>Lancez Mawaqit depuis le bureau</li>
                        <li>Au lancement le raspberry vérifie si une connexion internet est disponible,
                            dans ce cas il lance la version en ligne, sinon il bascule sur la version locale
                        </li>
                    </ol>

                    <p><strong>OPTION 2. Vous n'avez pas de connexion internet, lancer le logiciel embarqué : </strong>
                        Il suffit de brancher le raspberry sur l'écran, le logiciel se lancera tout seul. <br>
                        Afin de profiter de la toute dernière version du logiciel, il est recommandé d'exécuter les
                        étapes suivantes : <br>
                    </p>

                    <ol>
                        <li>Quittez le mode plein écran avec F11, puis fermez le logiciel</li>
                        <li>Connetez le raspberry à internet et double-cliquez sur le fichier <code> upgrade.sh</code>
                            présent sur le bureau puis appuyez sur executer
                        </li>
                    </ol>
                    <p>vous pouvez après configurer les horaires de votre mosquée.<br></p>
                    <p>
                        <strong>Important :</strong>
                        Le Raspberry ne dispose pas d'horloge RTC (un composant éléctronique doté d'une pile) qui permet
                        de garder l'heure correctement réglée
                        quand il est éteint.<br>
                        Il est donc conseillé d'équiper le raspberry
                        <a href="https://www.amazon.fr/Horloge-pr%C3%A9cision-DS3231-RTC-Compatible-Raspberry/dp/B01F6MJZGQ/ref=sr_1_4?ie=UTF8&qid=1508527126&sr=8-4&keywords=rtc+ds3231">
                            d'une horloge RTC
                        </a>
                        si vous ne comptez pas le connecter à internet, cela évitera la
                        perte de l'heure système en cas de copure de courant.
                        Il suffit de la brancher comme illustré ci-dessous et taper les commandes suivantes dans
                        LXTerminal<br>
                        <code>sudo date -s "yyyy-mm-dd hh:mm:ss"</code> <br>
                        exemple: <br>
                        <code>sudo date -s "{{ "now"|date("Y-m-d H:m:s") }}"</code> <br>
                        <code>sudo hwclock -w</code> <br><br>
                    </p>
                </div>

                <img class="img-responsive" src="{{ asset('bundles/app/agency/img/raspberry-rtc.jpg') }}" alt=""><br><br>

                <h4 class="text-muted">Pour plus d'informations téléchargez notre manuel d'utilisation <a target="_blank" href="/static/Mawaqit-mode-d-emploi.pdf">ICI</a> </h4>

                <h4 class="text-muted">Vous rencontrez des diffucltées ? envoyez nous un message <a href="#contact">c'est par ici</a></h4>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <h2 class="section-heading">Contactez nous</h2>
                <div class="text-primary text-left" style="font-weight: bold; font-size: 130%">
                    <p>
                        Vous avez des questions sur la démarche à suivre pour équiper votre mosquée avec notre logiciel.
                        Contactez nous :
                    </p>

                    <ul>
                        <li>Par WhatsApp <i class="fa fa-whatsapp"></i> : {{ supportTel1 }} / {{ supportTel2 }} du Lundi au Samedi entre 9h et 21h</li>
                        <li>Via le formulaire ci-dessous</li>
                    </ul>
                </div>


                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nom *" id="name" required
                                       data-validation-required-message="Veuillez saisir votre nom.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" id="email" required
                                       data-validation-required-message="Veuillez saisir votre adresse.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Téléphone *" id="phone" required
                                       data-validation-required-message="Veuillez saisir votre numéro de téléphone.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message *" id="message" required
                                          data-validation-required-message="Veuillez saisir votre message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

{% endblock %}

{% block additional_javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/flexSlider/jquery.flexslider-min.js'
        '@AppBundle/Resources/public/agency/js/index.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 2,
                center: {lat: 48, lng: 3}
            });

            var mosquesForMap = {{ mosquesForMap|json_encode|raw }};
            $.each(mosquesForMap, function (i, mosque) {
                addMosque(mosque, map);
            })
        }

        function addMosque(mosque, map) {
            var marker = new google.maps.Marker({
                map: map,
                position: {lng: mosque.lng, lat: mosque.lat},
                title: mosque.name + ' (' + mosque.city + ')',
                icon: {
                    url: '{{ asset('favicon.png') }}',
                    scaledSize: new google.maps.Size(30, 30)
                }
            });

            var infowindow = new google.maps.InfoWindow({
                content: '<div>' +
                '<h4> ' + mosque.name + ' </h4>' +
                '<p> ' +
                (mosque.address ? mosque.address : '') + ' ' + mosque.zipcode + ' ' + mosque.city + ' ' + mosque.country +
                '</p>' +
                '<p> ' +
                '<a target="_blank" href="' + 'https://mawaqit.net/fr/' + mosque.slug + '">' + 'https://mawaqit.net/fr/' + mosque.slug + ' </a>' +
                '</p>' +
                '</div>'
            });

            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
    </script>

{% endblock %}
