<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/png" href="{{asset('favicon.png')}}" />

        <title>{% block title 'site_title'|trans %}</title>

        {% stylesheets 
            "bundles/app/bootstrap-3.3.7/css/bootstrap.min.css"
            "bundles/app/font-awesome/css/font-awesome.min.css"
            "bundles/app/agency/css/agency.min.css"
            "bundles/app/agency/css/custom.css" 
            filter="cssrewrite"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
        <![endif]-->

        {% block additional_stylesheets %}
        {% endblock %}

    </head>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#projet">Le projet</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#mosquees">Mosquées équipées</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#participer">équipez votre mosquée</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#install">installez</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">contactez-nous</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{path('mosque_index')}}">admin</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">"Certes la prière a été prescrite pour les croyants dans des temps déterminés" [sourat An-Niça’/103]</div>
                    <div class="intro-heading">{{'site_title'|trans}}</div>
                    <div class="intro-subheading">équipez votre mosquée ou domicile d'une horloge de prière connectée et intelligente</div>
                    <div class="intro-subheading">essayez c'est gratuit</div>
                    <a href="#projet" class="page-scroll btn btn-xl">Découvrir</a>
                </div>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Binary Consulting <span class="copyright-year"></span></span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a target="_blank" href="https://www.facebook.com/Mawaqit-une-horloge-connect%C3%A9e-pour-votre-mosqu%C3%A9e-ou-domicile-878834798944718/"><i class="fa fa-facebook"></i></a></li>
                            <li><a><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        {% javascripts
                '@AppBundle/Resources/public/jquery/js/jquery-1.12.4.min.js'
                '@AppBundle/Resources/public/jquery/js/jquery-ui.min.js'
                '@AppBundle/Resources/public/bootstrap-3.3.7/js/bootstrap.min.js'
                '@AppBundle/Resources/public/agency/js/jqBootstrapValidation.js'
                '@AppBundle/Resources/public/agency/js/contact_me.js'
                '@AppBundle/Resources/public/agency/js/agency.min.js'
                '@AppBundle/Resources/public/agency/js/custom.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block additional_javascripts %}
        {% endblock %}

    </body>
</html>
