{% extends 'default/layout.html.twig' %}

{% block content %}
    <div class="text-center">
        <!-- Participez Section -->
        <section>
            <div class="container">
                <h2 class="section-heading">{{ 'home.title.equipeYourMosque'|trans }}</h2>
                <p>{{ 'home.text.equipeYourMosque1'|trans }}</p>
                <h4 class="section-heading">{{ 'home.text.equipeYourMosque2'|trans }}</h4>
                <ul class="text-muted text-{{ app.request.locale == 'ar' ? 'right' : 'left' }}">
                    {{ 'home.text.equipeYourMosque3'|trans({'raspberry_3_link': raspberry_3_link, 'raspberry_4_link': raspberry_4_link, 'rtc_link': rtc_link})|raw }}
                </ul>
                <img class="img-responsive" src="{{ asset('bundles/app/agency/img/raspberry-kit.png') }}" alt=""><br>
            </div>
        </section>

        <!-- Section Comment istaller l'application -->
        <section class="bg-light-gray">
            <div class="container">
                <h2 class="section-heading">{{ 'home.title.install'|trans }}</h2>
                <p>
                    {{ 'home.text.install_sub_title'|trans }}
                </p>
                <br>
                <ol class="text-muted text-{{ app.request.locale == 'ar' ? 'right' : 'left' }}">
                    <li>{{ 'home.text.install1_1'|trans({"registerUrl": path("fos_user_registration_register")})|raw }}</li>
                    <li>{{ 'home.text.install1_2'|trans }}</li>
                    <li>
                        {{ 'home.text.install2'|trans }}
                        <strong>
                            {% if app.user %}
                                <a target="_blank" href="{{ system_image_link }}">
                                    mawaqit.gz
                                </a>
                            {% else %}
                                <a href="{{ path("fos_user_security_login") }}">
                                    {{ 'home.text.install3'|trans }}
                                </a>
                            {% endif %}
                        </strong>
                    </li>
                    {{ 'home.text.install4'|trans|raw }}
                </ol>
                <br>
                <img src="{{ asset('bundles/app/agency/img/software/etcher.gif') }}" class="img-responsive" alt=""><br><br>
                <div class="text-muted text-{{ app.request.locale == 'ar' ? 'right' : 'left' }}">
                    {{ 'home.text.install6'|trans|raw }}
                    {{ 'home.text.install7'|trans({'%now%': "now"|date("Y-m-d H:m:s"), 'mosqueUrl': url('mosque', {slug: 'mosquee-essunna-houilles'}) , rtc_link: rtc_link })|raw }}
                </div>
                <img class="img-responsive" src="{{ asset('bundles/app/agency/img/raspberry-rtc.jpg') }}" alt=""><br><br>
                <h4 class="text-muted">
                    {{ 'home.text.install8'|trans|raw }}
                </h4>
                <h4 class="text-muted">{{ 'home.text.install9'|trans|raw }}</h4>
            </div>
        </section>
    </div>
{% endblock %}