{% extends 'base.html.twig' %}

{% block body %}

    {% include 'partial/flash_msg.html.twig' %}

    <div class="text-right">
        <a href="{{ path('faq_create') }}" class="btn btn-primary"><i class="fa fa-plus"></i> {{ 'add'|trans }}</a>
    </div>
    <div class="row">
        <div class="col-md-6 text-left">
            <h1>Faqs</h1>
        </div>
        <div class="col-md-6 text-right">
            <div class="navigation">
                {{ knp_pagination_render(faqs) }}
            </div>
        </div>
    </div>

    <div class="hidden-xs hidden-sm">
        <table class="table table-inverse">
            <thead>
            <tr class="warning">
                <th style="width: 5%">{{ 'order'|trans }}</th>
                <th style="width: 25%">{{ 'faq.form.question.label'|trans }}</th>
                <th>{{ 'faq.form.answer.label'|trans }}</th>
                <th class="text-center" style="width: 5%">{{ 'faq.form.enabled.label'|trans }}</th>
                <th class="text-center" style="width: 10%">{{ 'actions'|trans }}</th>
            </tr>
            </thead>
            <tbody class="sortable">
            {% for faq in faqs %}
                <tr data-id="{{ faq.id }}" data-remote="{{ path('faq_sort') }}" role="button">
                    <td><i class="fa fa-arrows"></i></td>
                    <td>{{ faq.question }}</td>
                    <td>{{ faq.answer|raw }}</td>
                    <td class="text-center">
                        <span class="fas fa-{{ faq.enabled ? 'check-square' : 'times-circle' }}"></span>
                    </td>
                    <td class="text-right">
                        <div class="btn-action">
                            <a href="{{ path('faq_edit', {id: faq.id}) }}" class="btn btn-primary" title="{{ 'form.edit.action'|trans }}"><i class="fas fa-edit"></i></a><br>
                        </div>
                        {% include 'partial/delete_button.html.twig' with {entity: faq} %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="hidden-md hidden-lg mt-3">
        {% for faq in faqs %}
            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" href="#{{ faq.id }}">
                    {{ faq.question }}
                </div>
                <div id="{{ faq.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ faq.answer|raw }}
                        <a href="{{ path('faq_edit', {id: faq.id}) }}" class="btn btn-primary btn-action" title="{{ 'form.edit.action'|trans }}"><i class="fas fa-edit"></i></a><br>
                        {% include 'partial/delete_button.html.twig' with {entity: faq} %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'partial/delete_modal.html.twig' with {path: 'faq_delete'} %}
    <div class="navigation text-center">
        {{ knp_pagination_render(faqs) }}
    </div>

{% endblock %}

{% block additional_javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/js/delete_modal.js'
        '@AppBundle/Resources/public/js/sort.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}