{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-4 col-md-offset-4">
    <h3>{{ 'registration.registration'|trans({}, 'messages') }}</h3><br>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first, {'attr': {'placeholder': 'registration.password_rule'|trans({}, 'messages') }} ) }}
    {{ form_row(form.plainPassword.second, {'attr': {'placeholder': 'registration.password_rule'|trans({}, 'messages') }} ) }}
    {{ form_row(form.tou) }}
    <div class="mt-3">
        <button id="validate-btn" type="submit" class="btn btn-primary" disabled="disabled">{{ 'validate'|trans({}, 'messages') }}</button>
        <a href="{{ path("fos_user_security_login") }}" class="btn btn-danger">{{ 'cancel'|trans({}, 'messages') }}</a>
    </div>
    {{ form_end(form) }}
</div>