{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-6 col-md-offset-3">
    <h3>{{'registration.registration'|trans({}, 'messages')}}</h3><br>

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{{'validate'|trans({}, 'messages')}}</button>
    <a href="{{path("fos_user_security_login")}}" class="btn btn-danger">{{'cancel'|trans({}, 'messages')}}</a>
    {{ form_end(form) }}
</div>
