{% include 'partial/flash_msg.html.twig' %}

{{ form_errors(form) }}
{{ form_row(form._token) }}
{{ form_row(form.title) }}
{{ form_row(form.content) }}
{{ form_row(form.delay) }}
{{ form_row(form.enabled) }}
<br>
{{ form_widget(form.save) }}
<a href="{{path("message_index", {'mosque': mosque.id})}}" class="btn btn-danger">{{'cancel'|trans}}</a>

