{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Accueil{% endblock %}

{% block body %}
    {% include 'partial/flash_msg.html.twig' %}

    <div class="row">
        <div class="col-md-8 col-xs-12" style="margin-top: 10px"><h3>{{'message.mosque'|trans({'%mosque%': mosque.name})}}</h3></div>
        <div class="col-md-4 col-xs-12 text-right">
            <a href="{{path('mosque_index')}}" class="btn btn-danger">{{'return'|trans}}</a>
            <a href="{{path('message_create', {'mosque': mosque.id})}}" class="btn btn-primary {{disable_add_message ? 'disabled' : ''}} ">{{'add'|trans}}</a>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-8 col-xs-12">
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{'message.info'|trans}}
            </div>
        </div>
    </div>
    {% if disable_add_message %}
        <div class="row">
            <div class="col-md-10 col-xs-12">
                <div class="alert alert-danger" role="alert">
                    {{'message.add_max_reached'|trans}}
                </div>
            </div>
        </div>
    {% endif %}
    <br>

    <div class="hidden-xs hidden-sm">
        <table class="table table-inverse">
            <thead>
                <tr class="warning">
                    <th>ID</th>
                    <th style="width: 20%">{{'title'|trans}}</th>
                    <th>{{'content'|trans}}</th>
                    <th style="width: 5%">Photo ?</th>
                    <th class="text-center" style="width: 5%">{{'active'|trans}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for message in mosque.messages %}
                    <tr>
                        <th scope="row">{{message.id}}</th>
                        <td>{{message.title}}</td>
                        <td>{{message.content|raw}}</td>
                        <td class="text-center">
                            <span class="fa fa-{{message.image ? 'check' : 'close'}}"></span>
                        </td>
                        <td class="text-center">
                            <span class="fa fa-{{message.enabled ? 'check' : 'close'}}"></span>
                        </td>
                        <td>
                            <div class="btn-action">
                                <a href="{{path('message_edit', {mosque: mosque.id, message: message.id})}}" class="btn btn-primary" title="{{'form.edit.action'|trans}}"><span class="glyphicon glyphicon-pencil"></span></a><br>
                            </div>
                            {% include 'partial/delete_button.html.twig' with {entity: message} %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>

    <div class="hidden-lg hidden-md">
        {% for message in mosque.messages %}
            <div class="row" style="border-bottom: 1px solid gray; padding: 10px 0; ">
                <div class="col-xs-10">
                    <div><strong>{{message.title}}</strong></div>
                    <div>{{message.content|raw}}</div>
                    <div>Photo ? <span class="fa fa-{{message.image ? 'check' : 'close'}}"></span></div>
                    <div>{{'enabled'|trans}} ? <span class="fa fa-{{message.enabled ? 'check' : 'close'}}"></span></div>
                </div>     

                <div class="col-xs-2">
                    <div class="btn-action">
                        <a href="{{path('message_edit', {mosque: mosque.id, message: message.id})}}" class="btn btn-primary btn-action" title="{{'form.edit.action'|trans}}"><span class="glyphicon glyphicon-pencil"></span></a><br>
                    </div>
                    {% include 'partial/delete_button.html.twig' with {entity: message} %}
                </div>     
            </div>     
        {% endfor %}
    </div>     

    {% include 'partial/delete_modal.html.twig' with {path: 'message_delete'} %}

{% endblock %}