{% extends 'base.html.twig' %}

{% block body %}

    {% include 'partial/flash_msg.html.twig' %}

    <h3 class="mb-2">{{ 'message.mosque'|trans({'%mosque%': mosque.name}) }}</h3>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#announcement">{{ 'announcements'|trans }}</a></li>
        {% if mosque.isMosque %}
            <li><a data-toggle="tab" href="#flashMessage">{{ 'flashMessage.label'|trans }}</a></li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <div id="announcement" class="tab-pane fade in active">
            <div class="row mt-2 mb-2 text-muted">
                <div class="col-md-10">
                    <p>
                        {{ 'message.info'|trans|raw }}
                    </p>
                    <p>
                        {{ 'message.display_messages_in_screen_1'|trans }} : <a target="_blank" href="{{ path("messages", {slug: mosque.slug}) }}">{{ url("messages", {slug: mosque.slug}) }}</a><br>
                        {{ 'message.display_messages_in_screen_2'|trans }}
                    </p>
                </div>
                <div class="col-md-2">
                    <a href="{{ path('message_create', {'mosque': mosque.id}) }}" class="btn btn-primary">
                        <i class="fa fa-plus"></i> {{ 'add'|trans }}
                    </a>
                    <a href="{{ path('mosque_index') }}" class="btn btn-default"><i class="fa fa-caret-left"></i> {{ 'return'|trans }}</a>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-3">
                    {{ form_row(form.timeToDisplayMessage) }}
                    <div class="timeToDisplayMessageError hidden  mb-2 alert alert-danger">Cette valeur n'est pas valide.</div>
                    <button id="timeToDisplayMessageButton" class="btn btn-primary" style="display: none"
                            data-remote="{{ path('ajax_message_update_time', {mosque: mosque.id}) }}">{{ 'validate'|trans }}</button>
                </div>
            </div>

            <div class="hidden-xs hidden-sm">
                <form action="{{ path('message_bulk_change_status', {mosque: mosque.id}) }}" method="post">
                    <button class="btn btn-primary mb-1" type="text">{{ 'change_statuses'|trans }}</button>
                    <table class="table table-inverse">
                        <thead>
                        <tr class="warning">
                            <th width="5%"><input type="checkbox" class="not-toggle" id="select-all">&nbsp;&nbsp;{{ 'message.form.enabled.label'|trans }}</th>
                            <th width="5%">{{ 'order'|trans }}</th>
                            <th width="15%">{{ 'message.form.title.label'|trans }}</th>
                            <th width="40%">{{ 'message.form.content.label'|trans }}</th>
                            <th class="text-center" width="15%">{{ 'message.form.desktop.label'|trans }}</th>
                            <th class="text-center" width="10%">{{ 'message.form.mobile.label'|trans }}</th>
                            <th class="text-center" width="5%">{{ 'message.form.image.label'|trans }}</th>
                            <th class="text-center">{{ 'actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody class="sortable">
                        {% for message in messages %}
                            <tr data-id="{{ message.id }}" data-remote="{{ path('message_sort') }}" role="button">
                                <td>
                                    <input type='hidden' value='0' name='status[{{ message.id }}]'>
                                    <input type="checkbox"
                                           value='1' {{ message.enabled ? 'checked="checked"' : '' }}
                                           onclick="this.previousSibling.value=1-this.previousSibling.value"
                                           class="not-toggle"
                                           name="status[{{ message.id }}]">
                                </td>
                                <td><i class="fa fa-arrows"></i></td>
                                <td>{{ message.title }}</td>
                                <td>
                                    {% if message.image %}
                                        <img src="{{ vich_uploader_asset(message, 'file') }}" alt="" width="100px" height="70px"/>
                                    {% else %}
                                        {{ message.content|raw }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <span class="fa fa-{{ message.desktop ? 'check' : 'close' }}"></span>
                                </td>
                                <td class="text-center">
                                    <span class="fa fa-{{ message.mobile ? 'check' : 'close' }}"></span>
                                </td>
                                <td class="text-center">
                                    <span class="fa fa-{{ message.image ? 'check' : 'close' }}"></span>
                                </td>
                                <td>
                                    <div class="btn-action">
                                        <a href="{{ path('message_edit', {mosque: mosque.id, message: message.id}) }}"
                                           class="btn btn-primary" title="{{ 'form.edit.action'|trans }}"><span
                                                    class="glyphicon glyphicon-pencil"></span></a><br>
                                    </div>
                                    {% include 'partial/delete_button.html.twig' with {entity: message} %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="hidden-md hidden-lg">
                <form action="{{ path('message_bulk_change_status',  {mosque: mosque.id}) }}" method="post">
                    <button class="btn btn-primary mb-1" type="text">{{ 'change_statuses'|trans }}</button>
                    {% for message in mosque.messages %}
                        <div class="row" style="border-bottom: 1px solid #ccc; padding: 10px 0; ">
                            <div class="col-xs-5">
                                <div><strong>{{ message.title }}</strong></div>
                                <div>{{ 'message.form.desktop.label'|trans }} <span class="fa fa-{{ message.desktop ? 'check' : 'close' }}"></span></div>
                                <div>{{ 'message.form.mobile.label'|trans }} <span class="fa fa-{{ message.mobile ? 'check' : 'close' }}"></span></div>
                                <div>{{ 'message.form.image.label'|trans }} <span class="fa fa-{{ message.image ? 'check' : 'close' }}"></span></div>
                                <div>
                                    {{ 'message.form.enabled.label'|trans }}
                                    <input type='hidden' value='0' name='status[{{ message.id }}]'>
                                    <input type="checkbox"
                                           value='1' {{ message.enabled ? 'checked="checked"' : '' }}
                                           onclick="this.previousSibling.value=1-this.previousSibling.value"
                                           class="not-toggle"
                                           name="status[{{ message.id }}]">
                                </div>
                            </div>
                            <div class="col-xs-5">
                                {% if message.image %}
                                    <img src="{{ vich_uploader_asset(message, 'file') }}" alt="" width="100px" height="70px"/>
                                {% else %}
                                    {{ message.content|raw }}
                                {% endif %}
                            </div>

                            <div class="col-xs-2">
                                <div class="btn-action">
                                    <a href="{{ path('message_edit', {mosque: mosque.id, message: message.id}) }}"
                                       class="btn btn-primary btn-action" title="{{ 'form.edit.action'|trans }}"><span
                                                class="glyphicon glyphicon-pencil"></span></a><br>
                                </div>
                                {% include 'partial/delete_button.html.twig' with {entity: message} %}
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>

        {% if mosque.isMosque %}
            <div id="flashMessage" class="tab-pane fade">
                <div class="col-md-6 mt-2">
                    <p class="text-muted">{{ 'flashMessage.info'|trans|raw }}</p>
                    {% if mosque.flashMessage.content %}
                        <div class="alert alert-{{ mosque.flashMessage.expired ?  'danger' : 'success' }}">
                            <p><strong>{{ mosque.flashMessage.content }}</strong></p><br>
                            <p>{{ ( mosque.flashMessage.expired ? 'expired' : 'expire')|trans }} {{ mosque.flashMessage.expire|date }}</p>
                        </div>
                    {% else %}
                        <br>
                        <p class="alert alert-info">{{ 'flashMessage.no'|trans }}</p>
                    {% endif %}
                    <a href="{{ path('flash_message_edit', {'mosque': mosque.id}) }}" class="btn btn-primary">
                        <i class="fa fa-pencil"></i> {{ 'form.edit.action'|trans }}
                    </a>
                    <a href="{{ path('mosque_index') }}" class="btn btn-default"><i class="fa fa-caret-left"></i> {{ 'return'|trans }}</a>
                </div>
            </div>
        {% endif %}
    </div>

    {% include 'partial/delete_modal.html.twig' with {path: 'message_delete'} %}

{% endblock %}

{% block additional_javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/js/message_index.js'
        '@AppBundle/Resources/public/js/delete_modal.js'
        '@AppBundle/Resources/public/js/sort.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}