{% trans_default_domain 'FOSUserBundle' %}

<div class="row col-md-4">
    <h3>{{'changing_password'|trans({}, 'messages')}}</h3>

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
    </div>
    {{ form_end(form) }}
</div>
