{% extends 'base.html.twig' %}

{% block additional_stylesheets %}
    <style>
        .navbar-form .form-group {
            margin-right: 20px;
        }
    </style>
{% endblock %}

{% block body %}

    {% include 'partial/flash_msg.html.twig' %}

    <h1>{{ 'users'|trans }}</h1>

    <div class="text-right">
        <a href="{{ path('users_send_email') }}" class="btn btn-primary"
           title="Envoyez un mail à tous les utilisateurs"><i
                    class="fa fa-envelope"></i> {{ 'email.send.action'|trans }}</a>
    </div>

    <div class="mt-1 text-left">
        {{ form(form) }}
    </div>

    <div class="navigation text-center">
        {{ knp_pagination_render(users) }}
    </div>

    <div class="hidden-xs hidden-sm mt-2">
        <table class="table table-inverse">
            <thead>
            <tr class="warning">
                <th>{{ 'email'|trans }}</th>
                <th>Api token</th>
                <th>Api calls</th>
                <th>Api use description</th>
                <th class="text-center">{{ 'active'|trans }}</th>
                <th>{{ 'creation_date'|trans }}</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="{{ not user.enabled ? 'danger' : '' }}">
                    <td>
                        <a href="{{ path('user_edit', {id: user.id}) }}">{{ user.email }}</a>
                        <a href="{{ path('mosque_index', {userId: user.id}) }}"> ({{ user.mosques|length }}) </a>
                    </td>
                    <td>{{ user.apiAccessToken }}</td>
                    <td>{% if user.apiQuota %} {{ user.apiCallNumber }} / {{ user.apiQuota }} {% endif %}</td>
                    <td>{{ user.apiUseDescription|nl2br }}</td>
                    <td class="text-center">
                        <span class="fa fa-{{ user.enabled ? 'check-square' : 'times-circle' }}"></span>
                    </td>
                    <td>{{ user.created|date('d/m/Y H:i') }}</td>
                    <td>
                        {% if user.id != app.user.id %}
                            {% include 'partial/delete_button.html.twig' with {entity: user} %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="hidden-lg hidden-md">
        {% for user in users %}
            <div class="row {{ not user.enabled ? 'alert-danger' : '' }}"
                 style="border-bottom: 1px solid #ccc; padding: 10px 0; margin-top: 10px ">
                <div class="col-xs-10">
                    <div>
                        <a href="{{ path('user_edit', {id: user.id}) }}">{{ user.email }}</a>
                        <a href="{{ path('mosque_index', {userId: user.id}) }}"> ({{ user.mosques|length }}) </a>
                    </div>
                    {% if user.apiAccessToken %}
                        <div>
                            <b>Api token :</b> {{ user.apiAccessToken }}
                        </div>
                        <div>
                            <b>Api calls :</b> {{ user.apiCallNumber }} / {{ user.apiQuota }}
                        </div>
                        <div>
                            <b>Api use description :</b> {{ user.apiUseDescription|nl2br }}
                        </div>
                    {% endif %}
                    <div>
                        <b>{{ 'enabled'|trans }} ? </b><span class="fa fa-{{ user.enabled ? 'check-square' : 'times-circle' }}"></span>
                    </div>
                    <div>
                        <b>Date d'inscription :</b> {{ user.created|date('d/m/Y H:i') }}
                    </div>
                </div>

                <div class="col-xs-2">
                    {% if user.id != app.user.id %}
                        {% include 'partial/delete_button.html.twig' with {entity: user} %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'partial/delete_modal.html.twig' with {path: 'user_delete'} %}

    <div class="mt-2">
        <div class="navigation text-center">
            {{ knp_pagination_render(users) }}
        </div>
    </div>

{% endblock %}

    {% block additional_javascripts %}
        {% javascripts
            '@AppBundle/Resources/public/js/delete_modal.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}