{% extends 'email_templates/layout.html.twig' %}
{% block content %}
    <div>
        <p>
            Essalamu alaykum
        </p>
        <p>
            Bonne nouvelle, votre mosquée "<strong>{{ mosque.title }}</strong>" vient d'être validée par l'équipe
            mawaqit.
            Vous pouvez dès maintenant la configurer ici <a
                    href="{{ url('mosque_index') }}">{{ url('mosque_index') }}</a>
        </p>
        <p style="font-weight: bold; color: #843534">
            Vous disposez de {{ mosque.daysBeforeRemove }} jours pour ajouter la photo de l'écran mawaqit prise dans la
            mosquée.
            Passé ce délai sans la photo de l'écran, votre mosquée sera suspendue.
        </p>
        <p>
            Pour toute question veuillez visiter notre <a href="{{ url('homepage') }}#faq">FAQ</a> et notre chaîne
            <a href="https://www.youtube.com/channel/UCK0bHMvAlVL8NvyofiMulUw/">YouTube</a>
        </p>
        <p>
            <strong>IMPORTANT : </strong>Suivez nous sur notre page Facebook et Twitter, les liens en bas de ce mail.
            Nous communiquons que par le biais de ces 2 réseaux sociaux.
        </p>
        <p>
            Pour nous contacter c'est <a href="{{ url("homepage", {"_locale": "fr"}) }}#contact" target="_blank">ici</a>
        </p>
        <hr>
        <p>
            Good news, your mosque "<strong>{{ mosque.title }}</strong>" has been validated by the mawaqit team , you
            can now configure it
            on <a href="{{ url('mosque_index') }}">{{ url('mosque_index') }}</a>
        </p>
        <p style="font-weight: bold; color: #843534">
            You have {{ mosque.daysBeforeRemove }} days to add the photo of the mosque mawaqit screen.
            After this time, without the picture of the screen your mosque will be suspended.
        </p>
        <p>
            For any questions please visit our <a href="{{ url('homepage') }}#faq">FAQ</a> and our <a
                    href="https://www.youtube.com/channel/UCK0bHMvAlVL8NvyofiMulUw/">YouTube</a> channel
        </p>
        <p>
            <strong>IMPORTANT: </strong>Follow us on our Facebook page and Twitter, the links at the bottom of this
            email. We communicate only through these two social networks.
        </p>
        <p>
            To contact us it's <a href="{{ url("homepage", {"_locale": "en"}) }}#contact" target="_blank">here</a>
        </p>
    </div>
    <hr>
    <div class="ar">
        <p>
            السلام عليكم ورحمة الله وبركاته
        </p>
        <p>
            بشرى سارة، تم تفعيل مسجدك من طرف فريق مواقيت، يمكنك ضبط الإعدادات هنا <a
                    href="{{ url('mosque_index') }}">{{ url('mosque_index') }}</a>
        </p>
        <p style="font-weight: bold; color: #843534">
            نرجو منكم إضافة صورة شاشة مواقيت لمسجدكم خلال
            {{ mosque.daysBeforeRemove }}
            يوما .
            بعد نهاية هذه المدة و دون رد من طرفكم سوف يتم تعطيل المسجد٠
        </p>
        <p>
            لأي أسئلة ، يرجى زيارة الأسئلة الشائعة <a href="{{ url('homepage') }}#faq">FAQ</a>
            وقناتنا على اليوتوب <a href="https://www.youtube.com/channel/UCK0bHMvAlVL8NvyofiMulUw/">YouTube</a>
        </p>
        <p>
            <strong>هام : </strong>تابعنا على الفايسبوك و التويتر ، الرابط موجود أسفل هذا البريد الإلكتروني. لا نتواصل
            إلا عبر هتين الشبكتين</p>
        <p>
            للاتصال بنا من
            <a href="{{ url("homepage", {"_locale": "ar"}) }}#contact" target="_blank">هنا</a>
        </p>
    </div>

{% endblock %}