{% extends 'email_templates/layout.html.twig' %}
{% block content %}
    <div>
        <p>
            Essalamu alaykum wa rahmatu allahi wa barakatuh<br/><br/>
            Vous avez récemment ajouté la photo de l'écran mawaqit de votre mosquée "<strong>{{ mosque.title }}</strong>"
            située au {{ mosque.localisation }}. <br/>
            Après vérification, nous constatons que cette photo ne réspecte pas nos règles, en effet la photo doit être
            prise
            dans la mosquée, en plan large avec la possibilité d'identifier la mosquée (minbar, mihrab...)<br/>
        </p>
        <p>
            Nous avons donc supprimé la photo, merci d'en charger une nouvelle qui respecte nos règles.<br/>
        </p>
        <hr>
        Essalamu alaykum wa rahmatu allahi wa barakatuh <br/>

        You recently added the photo of the mawaqit screen of your mosque "<strong>{{ mosque.title }}</strong>" located
        at {{ mosque.localisation }}. <br/>
        After verification, we find that this photo does not comply with our rules, in fact the photo must be taken in
        the mosque in wide shot with the possibility of identifying the mosque (minbar, mihrab ...)
        <p>
            So we removed the photo, thank you for uploading a new one that respects our rules
        </p>

    </div>
    <hr>
    <div class="ar">
        <p>
            السلام عليكم ورحمة الله وبركاته
        </p>
        <p>
            لقد أضفت مؤخرًا صورة شاشة مواقيت مسجدك
            "<strong> {{ mosque.title }} </strong>"
            <br/>
            بعد التحقق ، وجدنا أن هذه الصورة لا تمتثل لقواعدنا ، في الواقع يجب التقاط الصورة
             مع إمكانية رؤية المسجد من الداخل (المنبر ، المحراب ...)
        <p>
            لذلك أزلنا الصورة ، شكرًا لك على تحميل صورة جديدة تحترم قواعدنا
        </p>
    </div>
    <br>
    <img src="https://mawaqit.net/upload/5db59728ab4a7506030668.jpg" alt="" style="width: 100%">

{% endblock %}
