{% extends 'email_templates/layout.html.twig' %}
{% block content %}
    <div>
        <p>
            Essalamu alaykum wa rahmatu allahi wa barakatuh
        </p>
        <p>
            Vous avez récemment ajouté la mosquée "<b>{{ mosque.title }}</b>" située
            au {{ mosque.localisation }}
        </p>
        <p>
            Après vérification, nous constatons que les informations que vous avez saisi ne nous permettent pas de
            valider la mosquée<br/>
        </p>
        <p>
            Veuillez nous contacter au plus vite par message whatsapp au <b>0033612972467</b> (indiquez l'id
            <b>{{ mosque.id }}</b> de votre mosquée)
        </p>
        <br/>
        <hr>
        <p>
            Essalamu alaykum wa rahmatu allahi wa barakatuh
        </p>
        <p>
            You recently added the "<strong>{{ mosque.title }}</strong>" mosque located at {{ mosque.localisation }}
        </p>
        <p>
            After checking, we find that the information you entered does not allow us to validate the mosque
        </p>
        <p>
            Please contact us as soon as possible by whatsapp message at <b>0033612972467</b> (indicate the id
            <b>{{ mosque.id }}</b> of your mosque)
        </p>
        <br/>
    </div>
    <hr>
    <div class="ar">
        <p>
            السلام عليكم ورحمة الله وبركاته
        </p>
        <p>
            لقد قمت مؤخرًا بإضافة المسجد
            <strong> {{ mosque.title }} </strong>
            المتواجد ب
            {{ mosque.localisation }}
        </p>
        <p>
            بعد التحقق ، تبين أن المعلومات التي أدخلتها لا تسمح لنا بالتثبت من صحة المسجد
        </p>
        <p>
            يرجى الاتصال بنا في أقرب وقت ممكن عن طريق الواتساب على الرقم
            <b>0033612972467</b>
            عرِّف بِ id مسجدك
            <b>{{ mosque.id }}</b>
        </p>
    </div>
{% endblock %}
