{% extends 'email_templates/layout.html.twig' %}
{% block content %}
    Essalamu alaykum<br/>
    <p>
        Bonne nouvelle, votre mosquée {{ mosque.title }} vient d'être validée par l'équipe mawaqit, vous pouvez dès maintenant la configurer ici {{ url('mosque_index') }}
    </p>
    <p>-----------------</p>
    <p>
        Good news, your mosque {{ mosque.title }} has been validated by the mawaqit team , you can now configure it on {{ url('mosque_index') }}
    </p>
    <p>-----------------</p>
    <p>
        بشرى سارة، تم تفعيل مسجدك من طرف فريق مواقيت، يمكنك ضبط الإعدادات هنا
        <br/>
        {{ url('mosque_index') }}
    </p>
    <br/>
    The mawaqit team
{% endblock %}