{% extends 'email_templates/layout.html.twig' %}
{% block content %}
    <strong>Nom: </strong>{{ mosque.name }}<br>
    <strong>Association: </strong>{{ mosque.associationName }}<br>
    <strong>Adresse: </strong>{{ mosque.localisation }}<br>
    <strong>Site internet: </strong><a href="{{ mosque.site }}">{{ mosque.site }}</a><br>
    <strong>Téléphone: </strong>{{ mosque.phone }}<br>
    <strong>Email mosquée: </strong>{{ mosque.email }}<br>
    <strong>Email Créateur: </strong>{{ mosque.user.email }} <br>
{% endblock %}
