{% extends 'email_templates/layout.html.twig' %}
{% block content %}
    Essalamu alaykum<br/>
    <p>
        Bonne nouvelle, votre mosquée {{ mosque.title }} vient d'être validée par l'équipe mawaqit, vous pouvez dès maintenant la configurer ici <a href="{{ url('mosque_index') }}">{{  url('mosque_index') }}</a>
    </p>
    <hr>
    <p>
        Good news, your mosque {{ mosque.title }} has been validated by the mawaqit team , you can now configure it on  <a href="{{ url('mosque_index') }}">{{  url('mosque_index') }}</a>
    </p>
    <hr>
    <p style="text-align: right; font-size: 18px">
        بشرى سارة، تم تفعيل مسجدك من طرف فريق مواقيت، يمكنك ضبط الإعدادات هنا
        <br/>
        <a href="{{ url('mosque_index') }}">{{  url('mosque_index') }}</a>
    </p>
{% endblock %}