{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path("fos_user_security_check") }}" method="post" style="margin: auto;">
    <h2 class="form-signin-heading">{{ 'security.login.authenticate_you'|trans({}, 'messages') }}</h2>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control"  placeholder="{{ 'form.email'|trans }}" required autofocus />
    <br>
    <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" class="form-control"  required />

    <br>
    <div class="form-group">
        <a href="{{ path('fos_user_resetting_request') }}">{{'forgot_password'|trans({}, 'messages')}}</a>
    </div>

    <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block text-capitalize" >{{ 'security.login.submit'|trans }}</button>
    {% if error %}
        <div class="text-danger text-capitalize" style="padding: 10px">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
</form>
