{% extends 'base.html.twig' %}

{% block additional_stylesheets %}
    {% stylesheets
        "bundles/app/css/configure.css"
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'partial/flash_msg.html.twig' %}

    <div class="row">
        <div class="col-md-12">
            <h3 class="text-success"><strong> {{ 'configuration.title'|trans }}</strong></h3>
            <br>
            <p><span style="color: red">*</span> {{ 'required'|trans }}</p>
        </div>
    </div>

    <form action="{{ path('mosque_configure', {id: mosque.id}) }}" method="post" {{ isLocal() ? '' : 'target="_blank"' }} >

        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1"
                     href="#regionalSettings">
                    <span style="font-weight: 700;">{{ "regional_settings"|trans }}</span>
                </div>
                <div id="regionalSettings" class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="hidden" id="latitude" value="{{ mosque.latitude }}">
                        <input type="hidden" id="longitude" value="{{ mosque.longitude }}">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.timezone) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.dst) }}
                            </div>
                            <div class="dst-bloc">
                                <div class="col-md-3">
                                    {{ form_row(form.dstSummerDate) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.dstWinterDate) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.timeDisplayFormat) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1"
                     href="#prayerCalcul">
                    <span style="font-weight: 700;">{{ 'configuration.form.prayerCalcul'|trans }}</span>
                </div>
                <div id="prayerCalcul" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.sourceCalcul) }}
                            </div>
                            <div class="api calendarSource hidden">
                                <div class="col-md-4">
                                    {{ form_row(form.prayerMethod) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.asrMethod) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.highLatsMethod) }}
                                </div>
                                <div class="degree hidden">
                                    <div class="col-md-2">
                                        {{ form_row(form.fajrDegree) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_row(form.ishaDegree) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="calendar hidden">
                            <h3>{{ 'configuration.form.calendar'|trans }}</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="alert alert-info" role="alert">
                                        <p>{{ 'configuration.form.load_predefined_calendar.1'|trans }}</p>
                                        <div class="radio">
                                            <label><input type="radio" name="calendarSource" value="list">{{ 'configuration.form.load_predefined_calendar.2'|trans }}</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="calendarSource" value="csv">{{ 'configuration.form.load_predefined_calendar.3'|trans }}</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="calendarSource" value="api">{{ 'configuration.form.load_predefined_calendar.4'|trans }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2 calendarSource api hidden">
                                <div class="col-md-6">
                                    <a class="btn btn-primary" href="#" onclick="fillCalendarFromApi(event)">{{ 'form.load.action'|trans }}</a>
                                </div>
                            </div>

                            <div class="row calendarSource list hidden">
                                <div class="form-group col-md-3">
                                    <select class="form-control" id="predefined-calendar">
                                        <option value="">{{ 'configuration.select_calendar'|trans }}</option>
                                        {% for country, calendars in predefinedCalendars %}
                                            <optgroup label="{{ country|country }}">
                                                {% for calendar in calendars %}
                                                    <option value="{{ calendar.id }}"
                                                            data-remote="{{ path('copy_calendar', {'mosque': mosque.id, 'configuration': calendar.id}) }}">{{ calendar.label }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row calendarSource csv hidden">
                                <div class="col-md-6">
                                    <div class="alert alert-warning">
                                        <i class="fa fa-warning"></i> {{ 'info_dst_change'|trans|raw }}
                                    </div>
                                </div>
                            </div>

                            {% for month,days in months %}
                                <div class="panel panel-default month-panel">
                                    <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion"
                                         href="{{ '#' ~ month }}">
                                        <h4 class="panel-title"><strong>{{ ('month_' ~ month)|trans }}</strong></h4>
                                    </div>
                                    <div id="{{ month }}" class="panel-collapse collapse">
                                        <div class="panel-body month-panel" id="{{ 'month_' ~ month }}">
                                            <div class="row">
                                                <div class="col-md-2 col-md-offset-1">
                                                    <label class="btn btn-info btn-file">
                                                        {{ 'configuration.form.fill_calendar_from_csv'|trans }} <input
                                                                type="file" accept=".csv" class="hidden fill-calendar">
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="alert alert-success hidden alert-dismissible"
                                                         role="alert">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span></button>
                                                        {{ 'configuration.form.fill_calendar.success'|trans }}
                                                    </div>
                                                    <div class="alert alert-danger hidden alert-dismissible"
                                                         role="alert">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span></button>
                                                        {{ 'configuration.form.fill_calendar.error'|trans }}
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="row text-center">
                                                        <div class="calendar-prayer">{{ 'day'|trans }}</div>
                                                        <div class="calendar-prayer">{{ 'fajr'|trans }}</div>
                                                        <div class="calendar-prayer">{{ 'shuruk'|trans }}</div>
                                                        <div class="calendar-prayer">{{ 'zuhr'|trans }}</div>
                                                        <div class="calendar-prayer">{{ 'asr'|trans }}</div>
                                                        <div class="calendar-prayer">{{ 'maghrib'|trans }}</div>
                                                        <div class="calendar-prayer">{{ 'isha'|trans }}</div>
                                                    </div>
                                                    {% for day in 1..days %}
                                                        <div class="row">
                                                            <div class="text-center calendar-prayer">
                                                                {{ day }}
                                                            </div>
                                                            {% for prayer in 1..6 %}
                                                                <div class="calendar-prayer">
                                                                    <input
                                                                            name="configuration[calendar][{{ month }}][{{ day }}][{{ prayer }}]"
                                                                            value="{{ form.vars.value.calendar[month] is defined ? form.vars.value.calendar[month][day][prayer] : '' }}"
                                                                            type="text"
                                                                            pattern="\d{2}:\d{2}"
                                                                            placeholder="hh:mm"
                                                                            class="form-control text-center calendar-prayer-time"
                                                                            maxlength="5"
                                                                            oninvalid="setCustomValidity('{{ 'configuration.form.time_invalid'|trans }}')"
                                                                            onchange="try {
                                                                                    setCustomValidity('')
                                                                                } catch (e) {
                                                                                }">
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-md-5" style="margin-top: 23px">
                                                    <div class="alert alert-info">
                                                        <div><strong>Info
                                                                ! </strong> {{ 'configuration.form.calendar_explication'|trans|raw }}
                                                        </div>
                                                        <div>
                                                            <a href="/static/paris-uoif.zip">{{ 'mosqueList.csvFileExemple'|trans }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1" href="#jumua">
                    <span style="font-weight: 700;">{{ "jumua"|trans }}</span>
                </div>
                <div id="jumua" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.noJumua) }}
                            </div>
                            <div class="col-md-3 jumua-bloc">
                                {{ form_row(form.jumuaAsDuhr) }}
                            </div>
                            <div class="col-md-3 jumua-bloc jumua-bloc-time">
                                {{ form_row(form.jumuaTime) }}
                            </div>
                            <div class="col-md-3 jumua-bloc jumua-bloc-time">
                                {{ form_row(form.jumuaTime2) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="jumua-bloc">
                                <div class="col-md-3 jumuaTimeoutHandler">
                                    {{ form_row(form.jumuaDhikrReminderEnabled) }}
                                </div>
                                <div class="col-md-3 jumuaTimeoutHandler">
                                    {{ form_row(form.jumuaBlackScreenEnabled) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.jumuaTimeout) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default calendarSource api hidden">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1"
                     href="#adjustedTimesPanel">
                    {{ form_label(form.adjustedTimes) }}
                </div>
                <div id="adjustedTimesPanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-md-2">
                            {{ form_row(form.adjustedTimes.fajr) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.adjustedTimes.zuhr) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.adjustedTimes.asr) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.adjustedTimes.maghrib) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.adjustedTimes.isha) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" href="#adhan">
                    <span style="font-weight: 700;">{{ 'azan'|trans }}</span>
                </div>
                <div id="adhan" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-3">
                                {{ form_widget(form.showNextAdhanCountdown) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" href="#iqama">
                    <span style="font-weight: 700;">{{ 'iqama'|trans }}</span>
                </div>
                <div id="iqama" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.iqamaEnabled) }}
                            </div>
                            <div class="col-md-3 iqama-settings">
                                {{ form_row(form.iqamaFullScreenCountdown) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 iqama-settings">
                                {{ form_row(form.iqamaDisplayTime) }}
                            </div>
                        </div>

                        <div class="iqama-settings">
                            {{ form_label(form.waitingTimes) }}
                            <div class="row mt-1">
                                <div class="col-md-2">
                                    {{ form_row(form.waitingTimes.fajr) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.waitingTimes.zuhr) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.waitingTimes.asr) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.waitingTimes.maghrib) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.waitingTimes.isha) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1" href="#fixedTimes">
                    {{ form_label(form.fixedTimes) }}
                    <div class="text-muted"
                         style="font-size: 13px">{{ 'configuration.form.fixedTimes.help'|trans }}</div>
                </div>
                <div id="fixedTimes" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(form.fixedTimes.fajr) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.fixedTimes.zuhr) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.fixedTimes.asr) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.fixedTimes.maghrib) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.fixedTimes.isha) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.ishaFixation) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1"
                     href="#duaAfterPrayerShowTimes">
                    {{ form_label(form.duaAfterPrayerShowTimes) }}
                    <div class="text-muted"
                         style="font-size: 13px">{{ 'configuration.form.duaAfterPrayerShowTimes.help'|trans }}</div>
                </div>
                <div id="duaAfterPrayerShowTimes" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-md-2">
                            {{ form_row(form.duaAfterPrayerShowTimes.fajr) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.duaAfterPrayerShowTimes.zuhr) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.duaAfterPrayerShowTimes.asr) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.duaAfterPrayerShowTimes.maghrib) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.duaAfterPrayerShowTimes.isha) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1" href="#duas">
                    <span style="font-weight: 700;">{{ "invocations_hadiths"|trans }}</span>
                </div>
                <div id="duas" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_widget(form.duaAfterAzanEnabled) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_widget(form.duaAfterPrayerEnabled) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_widget(form.randomHadithEnabled) }}
                            </div>
                            <div class="hadith-block">
                                <div class="col-md-3">
                                    {{ form_row(form.hadithLang) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.randomHadithIntervalDisabling) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1"
                     href="#themeSettings">
                    <span style="font-weight: 700;">{{ "theme_settings"|trans }}</span>
                </div>
                <div id="themeSettings" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.backgroundType) }}
                            </div>
                        </div>

                        <div class="row motif">
                            {% for i in 1..12 %}
                                <div class="col-md-3">
                                    <label>
                                        <input type="radio" name="configuration[backgroundMotif]" value="{{ i }}" {{ form.vars.value.backgroundMotif == i ? 'checked' : '' }} />
                                        <img src="{{ asset('bundles/app/prayer-times/img/background-'~ i ~'.jpg') }}"
                                             class="background-choice">
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="row mt-2 color">
                            <div class="col-md-2">
                                {{ form_label(form.backgroundColor) }}
                                <input class="form-control" type="color" name="configuration[backgroundColor]"
                                       value="{{ mosque.configuration.backgroundColor }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1"
                     href="#displaySettings">
                    <span style="font-weight: 700;">{{ "display_settings"|trans }}</span>
                </div>
                <div id="displaySettings" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_widget(form.hijriDateEnabled) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_widget(form.blackScreenWhenPraying) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_widget(form.temperatureEnabled) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_widget(form.urlQrCodeEnabled) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_widget(form.footer) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_widget(form.smallScreen) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1"
                     href="#otherSettings">
                    <span style="font-weight: 700;">{{ "other_settings"|trans }}</span>
                </div>
                <div id="otherSettings" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.aidTime) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.maximumIshaTimeForNoWaiting) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.imsakNbMinBeforeFajr) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.hijriAdjustment) }}
                            </div>
                            <div class="hidden">
                                {{ form_row(form.timeToDisplayMessage) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default {{ mosque.isMosque ? 'hidden' : '' }}">
                <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion1"
                     href="#homeSettings">
                    <span style="font-weight: 700;">{{ "home_settings"|trans }}</span>
                </div>
                <div id="homeSettings" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_widget(form.azanVoiceEnabled) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.wakeForFajrTime) }}
                            </div>
                            <div class="col-md-3 wakeAzanVoice">
                                {{ form_row(form.wakeAzanVoice) }}
                            </div>
                            <div class="col-md-1 text-left">
                                <img class="hidden" id="azabStop" src="{{ asset('bundles/app/prayer-times/img/stop.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_widget(form.save) }}
        <a href="{{ path("mosque_index") }}" class="btn btn-warning">{{ 'cancel'|trans }}</a>
    </form>
    <br><br>
{% endblock %}

{% block additional_javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/prayer-times/js/vendor/PrayTimes.js'
        '@AppBundle/Resources/public/js/configure.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}