{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 
            "bundles/app/css/configure.css"
            filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'partial/flash_msg.html.twig' %}

    <div class="row">
        <div class="col-md-12">
            <h3 class="text-success"> <strong> {{'configuration.title'|trans({"%mosque%":mosque.name})}}</strong></h3><br>
            <p><span style="color: red">*</span> {{'required'|trans}}</p>
        </div>
    </div>


    <form action="{{ path('mosque_configure', {id: mosque.id})}}" method="post">

        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.sourceCalcul) }}
            </div>
        </div>


        <div class="api hidden">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.prayerMethod) }}
                </div>
                <div class="degree hidden">
                    <div class="col-md-2">
                        {{ form_row(form.fajrDegree) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_row(form.ishaDegree) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_label(form.adjustedTimes) }}
                </div> 
                <div class="col-md-2">
                    {{ form_row(form.adjustedTimes.fajr) }}
                </div> 
                <div class="col-md-2">
                    {{ form_row(form.adjustedTimes.zuhr) }}
                </div> 
                <div class="col-md-2">
                    {{ form_row(form.adjustedTimes.asr) }}
                </div> 
                <div class="col-md-2">
                    {{ form_row(form.adjustedTimes.maghrib) }}
                </div> 
                <div class="col-md-2">
                    {{ form_row(form.adjustedTimes.isha) }}
                </div> 
            </div>
        </div>

        <div class="calendar hidden">
            <div class="panel-group" id="accordion">
                <h3>{{'configuration.form.calendar'|trans}}</h3>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="predefined-calendar">{{'configuration.form.load_predefined_calendar'|trans}}</label>
                        <select class="form-control" id="predefined-calendar" data-ajax-url="{{path('ajax_load_calendar')}}">
                            <option value=""></option>
                            {% for calendar in predefinedCalendars %}
                                <option value="{{calendar}}">{{calendar}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% for month,days in months %}
                    <div class="panel panel-default">
                        <div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion" href="{{'#' ~ month}}">
                            <h4 class="panel-title"><strong>{{('month_' ~ month)|trans}}</strong></h4>
                        </div>
                        <div id="{{month}}" class="panel-collapse collapse">
                            <div class="panel-body month-panel" id="{{'month_' ~ month}}">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-1">
                                        <label class="btn btn-info btn-file">
                                            {{'configuration.form.fill_calendar_from_csv'|trans}} <input type="file" accept=".csv" class="hidden fill-calendar">
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="alert alert-success hidden alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            {{'configuration.form.fill_calendar.success'|trans}}
                                        </div>
                                        <div class="alert alert-danger hidden alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            {{'configuration.form.fill_calendar.error'|trans}}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                        {% if month == 2 or month == 9 %}
                                            <div class="alert alert-warning">
                                                {{'info_dst_change'|trans({'%month%': ('month_'~month)|trans})}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row text-center">
                                            <div class="calendar-prayer">{{'day'|trans}}</div>
                                            <div class="calendar-prayer">{{'fajr'|trans}}</div>
                                            <div class="calendar-prayer">{{'shuruk'|trans}}</div>
                                            <div class="calendar-prayer">{{'zuhr'|trans}}</div>
                                            <div class="calendar-prayer">{{'asr'|trans}}</div>
                                            <div class="calendar-prayer">{{'maghrib'|trans}}</div>
                                            <div class="calendar-prayer">{{'isha'|trans}}</div>
                                        </div>
                                        {% for day in 1..days %}
                                            <div class="row">
                                                <div class="text-center calendar-prayer">
                                                    {{day}}
                                                </div>
                                                {% for prayer in 1..6 %}
                                                    <div class="calendar-prayer">
                                                        <input 
                                                            name="appbundle_configuration[calendar][{{month}}][{{day}}][{{prayer}}]" 
                                                            value="{{ form.vars.value.calendar[month] is defined ? form.vars.value.calendar[month][day][prayer] : ''}}" 
                                                            type="text" 
                                                            pattern="\d{2}:\d{2}" 
                                                            placeholder="hh:mm" 
                                                            class="form-control text-center calendar-prayer-time" 
                                                            maxlength="5" 
                                                            oninvalid="setCustomValidity('{{'configuration.form.time_invalid'|trans}}')" 
                                                            onchange="try {
                                                                        setCustomValidity('')
                                                                    } catch (e) {
                                                                    }">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-5">
                                        <div class="alert alert-info">
                                            <div><strong>Info ! </strong> {{'configuration.form.calendar_explication'|trans|raw}}</div>
                                            <div><a href="/static/paris-uoif.zip">{{'csv_file_exemple'|trans}}</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                {{ form_row(form.jumuaTime) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.aidTime) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.maximumIshaTimeForNoWaiting) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.imsakNbMinBeforeFajr) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.waitingTimes) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.waitingTimes.fajr) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.waitingTimes.zuhr) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.waitingTimes.asr) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.waitingTimes.maghrib) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.waitingTimes.isha) }}
            </div> 
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.fixedTimes) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.fixedTimes.fajr) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.fixedTimes.zuhr) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.fixedTimes.asr) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.fixedTimes.maghrib) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.fixedTimes.isha) }}
            </div> 
        </div> 

        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.duaAfterPrayerShowTimes) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.duaAfterPrayerShowTimes.fajr) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.duaAfterPrayerShowTimes.zuhr) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.duaAfterPrayerShowTimes.asr) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.duaAfterPrayerShowTimes.maghrib) }}
            </div> 
            <div class="col-md-2">
                {{ form_row(form.duaAfterPrayerShowTimes.isha) }}
            </div> 
        </div> 

        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.hijriAdjustment) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.timezone) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.iqamaDisplayTime) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.azanDuaDisplayTime) }}  
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {{ form_widget(form.hijriDateEnabled) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.duaAfterAzanEnabled) }}
            </div>

            <div class="col-md-3">
                {{ form_widget(form.duaAfterPrayerEnabled) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.urlQrCodeEnabled) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.azanBip) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.iqamaBip) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.smallScreen) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                {{ form_label(form.backgroundColor) }}
                <input class="form-control" type="color" name="appbundle_configuration[backgroundColor]" value="{{mosque.configuration.backgroundColor}}">

            </div>
        </div>
        <br>
        {{ form_widget(form.save) }}
        <a href="{{path("mosque_index")}}" class="btn btn-danger">{{'cancel'|trans}}</a>
    </form>
    <br><br>
{% endblock %}

{% block javascripts %}
    {% javascripts
       '@AppBundle/Resources/public/js/configure.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}    
{% endblock %}