<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <strong>Nom: </strong>{{ mosque.name }}<br>
    <strong>Type: </strong>{{ mosque.type == 'home' ? 'Domicile' : 'Mosquée' }}<br>
    <strong>Association: </strong>{{ mosque.associationName }}<br>
    <strong>Adresse: </strong>{{ mosque.address }} {{ mosque.city }} {{ mosque.zipcode }} {{ mosque.country }}<br>
    <strong>Site internet: </strong><a href="{{ mosque.site }}">{{ mosque.site }}</a><br>
    <strong>Téléphone: </strong>{{ mosque.phone }}<br>
    <strong>Email: </strong>{{ mosque.email }}<br>
    <strong>Créateur: </strong>{{ mosque.user.username }} - {{ mosque.user.email }}<br><br>
    <strong>Total d'installation: </strong>{{ total }} <br>
</div>
</body>
</html>
