<h3>Une mosquée vient d'être créée</h3>

<div>
    <strong>Nom: </strong>{{mosque.name}}<br>
    <strong>Association: </strong>{{mosque.associationName}}<br>
    <strong>Téléphone: </strong>{{mosque.phone}}<br>
    <strong>Email: </strong>{{mosque.email}}<br>
    <strong>Créateur: </strong>{{mosque.user.username}} - {{mosque.user.email}}<br>
</div>