<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <strong>Nom: </strong>{{ mosque.name }}<br>
    <strong>Association: </strong>{{ mosque.associationName }}<br>
    <strong>Adresse: </strong>{{ mosque.localisation }}<br>
    <strong>Site internet: </strong><a href="{{ mosque.site }}">{{ mosque.site }}</a><br>
    <strong>Téléphone: </strong>{{ mosque.phone }}<br>
    <strong>Email mosquée: </strong>{{ mosque.email }}<br>
    <strong>Email Créateur: </strong>{{ mosque.user.email }}<br><br>
    <strong>Total d'installation: </strong>{{ total }} <br>
</div>
</body>
</html>
