<div class="col-lg-8">

{{ form_errors(form) }}

{{ form_widget(form._token) }}
{{ form_widget(form.name) }}

<div class="error-message">{{ form_errors(form.name) }}</div>

<br>
{{ form_widget(form.save) }}
<a href="{{path("mosque_index")}}" class="btn btn-lg btn-danger">{{'global.cancel'|trans({}, 'messages')}}</a>
<div>

