{% include 'partial/flash_msg.html.twig' %}

{{ form_errors(form) }}

{{ form_widget(form._token) }}

<div class="row">
    <div class="col-md-6">
        <p><span style="color: red">*</span> {{'required'|trans}}</p>

        {% if mosque is defined  %}
            {{ form_label(form.slug) }}
            <div class="row">
                <div class="col-md-4" style="padding-top: 5px;"><a href="#">http:{{url('homepage', {}, true)}}</a></div> 
                <div class="col-md-8" >{{ form_widget(form.slug) }}</div>   
            </div>   

            {% if is_granted('ROLE_ADMIN') %}
                {{ form_row(form.user) }}
            {% endif %}
        {% endif %}

        {{ form_row(form.name) }}
        {{ form_row(form.associationName) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.site) }}
        {{ form_row(form.address) }}
        {{ form_row(form.city) }}
        {{ form_row(form.zipcode) }}
        {{ form_row(form.country) }}
        {{ form_row(form.rib) }}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="row col-md-6">
            <div class="col-md-6 block-image">
                {{ form_row(form.file1) }}
            </div>
            <div class="col-md-6 block-image">
                {{ form_row(form.file2) }}
            </div>
            <div class="col-md-6 block-image">
                {{ form_row(form.file3) }}
            </div>
        </div>
    {% elseif mosque is defined %}
        <div class="col-md-6">
            {% if  mosque.image1 %}
                <div class="col-md-6 block-image">
                    <img src="{{ vich_uploader_asset(mosque, 'file1') }}" alt="{{ mosque.file1 }}" />
                </div>
            {% endif %}
            {% if  mosque.image2 %}
                <div class="col-md-6 block-image">
                    <img src="{{ vich_uploader_asset(mosque, 'file2') }}" alt="{{ mosque.file2 }}" />
                </div>
            {% endif %}
            {% if  mosque.image3 %}
                <div class="col-md-6 block-image">
                    <img src="{{ vich_uploader_asset(mosque, 'file3') }}" alt="{{ mosque.file3 }}" />
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>


<br>
{{ form_widget(form.save) }}
<a href="{{path("mosque_index")}}" class="btn  btn-lg btn-warning">{{'cancel'|trans({}, 'messages')}}</a>

