{% include 'partial/flash_msg.html.twig' %}

{{ form_errors(form) }}

{{ form_widget(form._token) }}

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.name) }}
        {{ form_row(form.associationName) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.address) }}
        {{ form_row(form.city) }}
        {{ form_row(form.zipcode) }}
        {{ form_row(form.country) }}
        {{ form_row(form.rib) }}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-md-6">
            <div class="col-md-6 block-image">
                {{ form_row(form.file1) }}
            </div>
            <div class="col-md-6 block-image">
                {{ form_row(form.file2) }}
            </div>
            <div class="col-md-6 block-image">
                {{ form_row(form.file3) }}
            </div>
        </div>
    {% endif %}
</div>


<br>
{{ form_widget(form.save) }}
<a href="{{path("mosque_index")}}" class="btn btn-danger">{{'cancel'|trans({}, 'messages')}}</a>

