{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Accueil{% endblock %}

{% block body %}
    {% include 'partial/flash_msg.html.twig' %}

    <div class="row">
        <div class="col-md-8"><h3>{{'my_mosques'|trans}}</h3></div>
        <div class="col-md-4 text-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('mosque_force_update_all')}}" class="btn btn-danger">{{'mosque.force_update_all.action'|trans}}</a>
            {% endif %}
            <a href="{{path('mosque_create')}}" class="btn btn-primary">{{'mosque.add_new'|trans}}</a>
        </div>
    </div>
    <br>

    <table class="table table-inverse">
        <thead>
            <tr class="warning">
                <th>ID</th>
                <th style="width: 10%">{{'mosque.name'|trans}}</th>
                <th style="width: 10%">{{'association'|trans}}</th>
                <th style="width: 20%">{{'contact'|trans}}</th>
                <th>{{'prayer_sites'|trans}}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>{{'user'|trans}}</th>
                    {% endif %}
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            {% for mosque in mosques %}
                {% set confCompleted = mosque.configuration is not null and mosque.configuration.completed %}
                <tr class="{{ confCompleted == false ? 'danger' : '' }}">
                    <th scope="row">{{mosque.id}}</th>
                    <td>{{mosque.name}}</td>
                    <td>{{mosque.associationName}}</td>
                    <td>
                        {{mosque.address}}<br>
                        {{mosque.city}} {{mosque.zipcode}}<br>
                        {{mosque.country}} <br>
                        <span class="fa fa-phone">&nbsp;</span><a href="tel:{{mosque.phone}}">{{mosque.phone}}</a><br>
                        <span class="fa fa-envelope">&nbsp;</span><a href="mailto:{{mosque.email}}">{{mosque.email}}</a>
                    </td>
                    <td>
                        {% if confCompleted %}
                            {% for lang in languages %}
                                <strong>{{lang}}</strong> : <a target="_blank" href="{{ path("mosque", {slug: mosque.slug, _locale: lang})}}">{{ url("mosque", {slug: mosque.slug, _locale: lang}) }}</a><br>
                            {% endfor %}
                        {% else %}
                            <span class="glyphicon glyphicon-alert"></span> {{'configuration.list.conf_not_completed'|trans|raw}}
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            {{mosque.user.username}}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{path('mosque_edit', {id: mosque.id})}}" class="btn btn-info" title={{'form.edit.action'|trans}}><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{{path('mosque_configure', {id: mosque.id})}}" class="btn btn-warning" title={{'form.configure.action'|trans}}><span class="glyphicon glyphicon-cog"></span></a>
                            {% include 'partial/modal_delete.html.twig' with {entity: mosque, path: 'mosque_delete'} %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}