{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Accueil{% endblock %}

{% block stylesheets %}
    {% stylesheets 
        "bundles/app/css/mosque_index.css"
        filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'partial/flash_msg.html.twig' %}

    <div class="row">
        <div class="col-md-6"><h3>{{'my_mosques'|trans}}</h3></div>
        <div class="col-md-3 col-xs-12">
            <form action="{{path('mosque_index')}}" class="search-form">
                <div class="form-group has-feedback">
                    <input type="text" value="{{app.request.get('search')}}" class="form-control" name="search" placeholder="{{'search'|trans}}">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-xs-12 text-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('mosque_force_update_all')}}" class="btn btn-danger">{{'mosque.force_update_all.action'|trans}}</a>
            {% endif %}
            <a href="{{path('mosque_create')}}" class="btn btn-primary">{{'mosque.add_new'|trans}}</a>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="row alert alert-warning">
            <ul>
                <div class="col-md-4">
                    <li>{{'stats.total'|trans}}:  {{mosques.totalItemCount}}</li>
                </div>
                <div class="col-md-4">
                    <li>{{'stats.total_configured'|trans}}:  {{stats.configured}}</li>
                    <li>{{'stats.total_not_configured'|trans}}:  {{mosques.totalItemCount - stats.configured}}</li>
                </div>
                <div class="col-md-4">
                    <li>{{'stats.total_auto_calcul'|trans}}:  {{stats.autoCalcul}}</li>
                    <li>{{'stats.total_auto_calendar'|trans}}:  {{stats.configured - stats.autoCalcul}}</li>
                </div>
            </ul>
        </div>
        <br>
    {% endif %}


    <div class="navigation text-center">
        {{ knp_pagination_render(mosques) }}
    </div>

    <div class="row">
        <table class="table table-inverse hidden-xs hidden-sm">
            <thead>
                <tr class="warning">
                    <th>ID</th>
                    <th>{{'name'|trans}}</th>
                    <th >{{'association'|trans}}</th>
                    <th style="width: 20%">{{'contact'|trans}}</th>
                    <th style="width: 35%">{{'prayer_sites'|trans}}</th>
                        {% if is_granted('ROLE_ADMIN') %}
                        <th>{{'user'|trans}}</th>
                        <th>{{'creation_date'|trans}}</th>
                        {% endif %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for mosque in mosques %}
                    {% set confCompleted = mosque.configuration is not null and mosque.configuration.completed %}
                    <tr class="{{ confCompleted == false ? 'danger' : '' }}">
                        <th scope="row">{{mosque.id}}</th>
                        <td>{{mosque.name}}</td>
                        <td>{{mosque.associationName}}</td>
                        <td>
                            {{mosque.address}}<br>
                            {{mosque.city}} {{mosque.zipcode}}<br>
                            {{mosque.country}} <br>
                            <span class="fa fa-phone">&nbsp;</span><a href="tel:{{mosque.phone}}">{{mosque.phone}}</a><br>
                            <span class="fa fa-envelope">&nbsp;</span><a href="mailto:{{mosque.email}}">{{mosque.email}}</a>
                        </td>
                        <td>
                            {% if confCompleted %}
                                {% for lang in languages %}
                                    <strong>{{lang}}</strong> : <a target="_blank" href="{{ path("mosque", {slug: mosque.slug, _locale: lang})}}">{{ url("mosque", {slug: mosque.slug, _locale: lang}) }}</a><br>
                                {% endfor %}

                                {{'widget_for_your_site'|trans}} <a class="iframe-button" data-url="{{ url('mosque', {slug: mosque.slug})}}">{{'show'|trans}}</a>
                            {% else %}
                                <span class="glyphicon glyphicon-alert"></span> {{'configuration.list.conf_not_completed'|trans|raw}}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{path('user_show', {id: mosque.user.id})}}">{{mosque.user.username}}</a>
                            </td>
                            <td>
                                {{mosque.created|date('d/m/Y h:i')}}
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{path('mosque_edit', {id: mosque.id})}}" class="btn btn-info btn-action" title="{{'form.edit.action'|trans}}"><span class="glyphicon glyphicon-pencil"></span></a><br>
                            <a href="{{path('mosque_configure', {id: mosque.id})}}" class="btn btn-warning btn-action" title="{{'form.configure.action'|trans}}"><span class="glyphicon glyphicon-cog"></span></a><br>
                            <a href="{{path('message_index', {mosque: mosque.id})}}" class="btn btn-success btn-action" title="{{'message.manage'|trans}}"><span class="fa fa-envelope"></span></a><br>
                                {% include 'partial/delete_button.html.twig' with {entity: mosque} %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>

    <div class="hidden-lg hidden-md">
        {% for mosque in mosques %}
            {% set confCompleted = mosque.configuration is not null and mosque.configuration.completed %}
            <div class="row {{ confCompleted == false ? 'alert-danger' : '' }}" style="padding: 10px 0; border-bottom: solid gray 1px">
                <div class="col-xs-10">
                    <strong>{{mosque.name}}</strong><br>
                    {{mosque.associationName}}<br>
                    {{mosque.address}}<br>
                    {{mosque.city}} {{mosque.zipcode}}<br>
                    {{mosque.country}} <br>
                    <span class="fa fa-phone">&nbsp;</span><a href="tel:{{mosque.phone}}">{{mosque.phone}}</a><br>
                    <span class="fa fa-envelope">&nbsp;</span><a href="mailto:{{mosque.email}}">{{mosque.email}}</a><br>

                    {% if confCompleted %}
                        <strong>{{'links'|trans}}</strong>: 
                        {% for lang in languages %}
                            <a target="_blank" href="{{ path("mosque", {slug: mosque.slug, _locale: lang})}}">{{lang|trans}}</a>{{loop.last ? '' : ' | '}}
                        {% endfor %}    
                        <div>
                            {{'widget_for_your_site'|trans}} <a class="iframe-button" data-url="{{ url('mosque', {slug: mosque.slug})}}">{{'show'|trans}}</a>
                        </div>
                    {% else %}
                        <div>
                            <span class="glyphicon glyphicon-alert"></span> {{'configuration.list.conf_not_completed'|trans|raw}}
                        </div>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        {{'user'|trans}}: <a href="{{path('user_show', {id: mosque.user.id})}}">{{mosque.user.username}}</a><br>
                        {{'creation_date'|trans}}: {{mosque.user.created|date('d/m/Y h:i')}}
                    {% endif %}

                </div>
                <div class="col-xs-2">
                    <a href="{{path('mosque_edit', {id: mosque.id})}}" class="btn btn-info btn-action" title="{{'form.edit.action'|trans}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{{path('mosque_configure', {id: mosque.id})}}" class="btn btn-warning btn-action" title="{{'form.configure.action'|trans}}"><span class="glyphicon glyphicon-cog"></span></a>
                    <a href="{{path('message_index', {mosque: mosque.id})}}" class="btn btn-success btn-action" title="{{'message.manage'|trans}}"><span class="fa fa-envelope"></span></a><br>
                        {% include 'partial/delete_button.html.twig' with {entity: mosque} %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'partial/delete_modal.html.twig' with {path: 'mosque_delete'} %}
    {% include 'partial/iframe_modal.html.twig' %}

    <div class="navigation text-center">
        {{ knp_pagination_render(mosques) }}
    </div>
{% endblock %}