{% extends 'base.html.twig' %}

{% block title %} {{ 'my_mosques'|trans ~ ' - ' ~parent() }}{% endblock %}

{% block stylesheets %}
    {% stylesheets
        "bundles/app/css/mosque_index.css"
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'partial/flash_msg.html.twig' %}

    <div class="row">
        <div class="col-md-6 text-left">
            {% if isNotLocal() %}
                {% if app.request.get('search') %}
                    <h1>{{ 'found'|trans }} {{ mosques.totalItemCount }}</h1>
                {% else %}
                    <h1>{{ 'my_mosques'|trans }} {{ mosques.totalItemCount }}</h1>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-md-6 text-right mt-2">
            {% if isNotLocal() %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('mosque_force_update_all') }}" class="btn btn-danger" title="Recharger l'écran de toutes les mosquées"><i
                                class="fa fa-refresh"></i> {{ 'mosque.force_update_all.action'|trans }}</a>
                {% endif %}
                <a href="{{ path('mosque_create') }}" class="btn btn-primary"><i class="fa fa-plus"></i> {{ 'add'|trans }}</a>
            {% endif %}
        </div>
    </div>

    {% if isNotLocal() %}
        <form action="{{ path('mosque_index') }}" class="navbar-form navbar-left" style="margin: 20px 0">
            <div class="form-group">{{ form_widget(form.word, {attr: {value: app.request.get('word')}}) }}</div>
            <div id="advanced" class="hidden" style="display: inline">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="form-group">{{ form_widget(form.id, {attr: {value: app.request.get('id')}}) }}</div>
                    <div class="form-group">{{ form_widget(form.status) }}</div>
                {% endif %}
                <div class="form-group">{{ form_widget(form.type) }}</div>
                <div class="form-group">{{ form_widget(form.department, {attr: {value: app.request.get('department')}}) }}</div>
                <div class="form-group">{{ form_widget(form.country, {attr: {'data-remote': path('cities_country_ajax', {'country': '-country-'})}}) }}</div>
                <div class="form-group">{{ form_widget(form.city) }}</div>
            </div>
            <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
            <button class="btn btn-primary" id="advanced-search-btn"><span class="fa fa-plus"></span></button>
        </form>
    {% endif %}

    <div class="navigation text-right">
        {{ knp_pagination_render(mosques) }}
    </div>

    <div class="hidden-xs hidden-sm">
        <table class="table table-inverse">
            <thead>
            <tr class="warning">
                <th>{{ 'ID' }}</th>
                <th>{{ 'type'|trans }}</th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'association'|trans }}</th>
                <th style="width: 20%">{{ 'contact'|trans }}</th>
                <th style="width: 35%">{{ 'prayer_sites'|trans }}</th>
                <th>{{ 'status'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'user'|trans }}</th>
                {% endif %}
                <th>{{ 'date'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for mosque in mosques %}
                <tr class="{{ mosque.statusClass}}">
                    <td>
                        {{ mosque.id }}
                    </td>
                    <td>
                        {{ ('mosque.types.' ~ mosque.type ) | trans }}
                    </td>
                    <td>
                        {{ mosque.name }}<br>
                        {% if mosque.configuration.isCalendar and  mosque.isCalendarCompleted %}
                            <a href="{{ path('mosque_csv_files', {id: mosque.id}) }}">{{ 'configuration.list.download_csv_files'|trans }}</a>
                        {% endif %}
                    </td>
                    <td>{{ mosque.associationName }}</td>
                    <td>
                        <div>{{ mosque.address }}</div>
                        <div>{{ mosque.city }} {{ mosque.zipcode }}</div>
                        <div>{{ mosque.fullCountryName }}</div>
                        {% if mosque.phone %}
                            <div><span class="fa fa-phone">&nbsp;</span><a href="tel:{{ mosque.phone }}">{{ mosque.phone }}</a></div>
                        {% endif %}
                        <div>
                            <span class="fa fa-envelope">&nbsp;</span>
                            <a href="mailto:{{ mosque.email ? mosque.email : mosque.user.email }}">{{ mosque.email ? mosque.email : mosque.user.email }}</a>
                        </div>
                    </td>
                    <td>
                        {% if mosque.isValidated %}
                            {% for lang in languages %}
                                <div>
                                    <div style="width: 80px; font-weight: bold; float: left">{{ lang|trans }}</div>
                                    : <a {{ isLocal() ? '' : 'target="_blank"' }}
                                            href="{{ path("mosque", {slug: mosque.slug, _locale: lang}) }}">{{ url("mosque", {slug: mosque.slug, _locale: lang}) }}</a>
                                </div>
                            {% endfor %}
                            {{ 'mosqueList.widgetForYourSite'|trans }} <a class="iframe-button"
                                                                          data-url="{{ url('mosque', {slug: mosque.slug}) }}?view=mobile">{{ 'show'|trans }}</a>
                            {% if not mosque.isCalendarCompleted %}
                                <div>
                                    <span class="glyphicon glyphicon-alert"></span> {{ 'configuration.list.calendar_not_completed'|trans|raw }}
                                </div>
                            {% endif %}
                        {% else %}
                            <p>
                                {{ 'mosque.wait_for_validation'|trans }}
                            </p>
                        {% endif %}
                    </td>
                    <td>
                        {{ ('mosque.statuses.' ~  mosque.status)|trans }}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('user_show', {id: mosque.user.id}) }}">{{ mosque.user.email }}</a>
                            <a href="{{ path('mosque_index', {userId: mosque.user.id}) }}"> ({{ mosque.user.mosques|length }}) </a>
                        </td>
                    {% endif %}
                    <td>
                        {{ mosque.created|date('d/m/Y H:i') }}
                    </td>
                    <td>
                        {% include 'partial/mosque_actions.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="hidden-lg hidden-md">
        {% for mosque in mosques %}
            <div class="row {{ mosque.statusClass}}"
                 style="padding: 10px 0; border-bottom: solid #ccc 1px">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-10">
                            <h4><strong>{{ mosque.name }}</strong>
                                <small>#{{ mosque.id }}</small>
                            </h4>
                        </div>
                        <div class="col-xs-2">
                            {% include 'partial/mosque_actions.html.twig' %}
                        </div>
                    </div>

                    <div>{{ mosque.associationName }}</div>
                    <div>{{ mosque.address }}</div>
                    <div>{{ mosque.city }} {{ mosque.zipcode }}</div>
                    <div>{{ mosque.fullCountryName }} </div>
                    {% if mosque.phone %}
                        <span class="fa fa-phone">&nbsp;</span><a href="tel:{{ mosque.phone }}">{{ mosque.phone }}</a>
                        <br>
                    {% endif %}
                    <div>
                        <span class="fa fa-envelope">&nbsp;</span>
                        <a href="mailto:{{ mosque.email ? mosque.email : mosque.user.email }}">{{ mosque.email ? mosque.email : mosque.user.email }}</a>
                    </div>

                    <div>
                        {% if mosque.isValidated %}
                            <strong>{{ 'links'|trans }}</strong>:
                            {% for lang in languages %}
                                <a target="_blank"
                                   href="{{ path("mosque", {slug: mosque.slug, _locale: lang}) }}">{{ lang|trans }}</a>{{ loop.last ? '' : ' | ' }}
                            {% endfor %}
                        {% else %}
                            {{ 'mosque.wait_for_validation'|trans }}
                        {% endif %}
                    </div>
                    <div><strong>{{ 'status'|trans }}:</strong> {{('mosque.statuses.' ~  mosque.status)|trans }}</div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div>
                            <strong>{{ 'user'|trans }}:</strong>
                            <a href="{{ path('user_show', {id: mosque.user.id}) }}">{{ mosque.user.email }}</a>
                            <a href="{{ path('mosque_index', {userId: mosque.user.id}) }}"> ({{ mosque.user.mosques|length }})</a>
                        </div>
                    {% endif %}
                    <div><strong>{{ 'creation_date'|trans }}:</strong> {{ mosque.created|date('d/m/Y H:i') }}</div>
                    <div><strong>{{ 'type'|trans }} :</strong> {{ ('mosque.types.' ~ mosque.type ) | trans }}</div>
                    {% if mosque.configuration.isCalendar and  mosque.isCalendarCompleted %}
                        <div>
                            <a href="{{ path('mosque_csv_files', {id: mosque.id}) }}">{{ 'configuration.list.download_csv_files'|trans }}</a>
                        </div>
                    {% endif %}

                    {% if not mosque.isCalendarCompleted %}
                        <div>
                            <span class="glyphicon glyphicon-alert"></span> {{ 'configuration.list.calendar_not_completed'|trans|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'partial/delete_modal.html.twig' with {path: 'mosque_delete'} %}
    {% include 'partial/iframe_modal.html.twig' %}

    <div class="navigation text-center">
        {{ knp_pagination_render(mosques) }}
    </div>
{% endblock %}

    {% block javascripts %}
        {% javascripts
            '@AppBundle/Resources/public/js/mosque_index.js'
            '@AppBundle/Resources/public/js/iframe_modal.js'
            '@AppBundle/Resources/public/js/delete_modal.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}