{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Accueil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% include 'partial/flash_msg.html.twig' %}

    <a href="{{path('mosque_create')}}" class="btn btn-primary">Ajouter une mosquée</a><br><br>

    <table class="table table-inverse">
        <thead>
            <tr>
                <th>#</th>
                <th>{{'mosque.name'|trans}}</th>
                <th>{{'global.association_name'|trans}}</th>
                <th>{{'global.phone'|trans}}</th>
                <th>{{'global.email'|trans}}</th>
                <th>{{'global.address'|trans}}</th>
                <th>{{'global.city'|trans}}</th>
                <th>{{'global.zipcode'|trans}}</th>
                <th>{{'global.country'|trans}}</th>
                <th>{{'global.rib'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for mosque in mosques %}
            <tr>
                <th scope="row">{{mosque.id}}</th>
                <td>{{mosque.name}}</td>
                <td>{{mosque.associationName}}</td>
                <td>{{mosque.phone}}</td>
                <td>{{mosque.email}}</td>
                <td>{{mosque.address}}</td>
                <td>{{mosque.city}}</td>
                <td>{{mosque.zipcode}}</td>
                <td>{{mosque.country}}</td>
                <td>{{mosque.rib}}</td>
                <td>
                    <a href="{{path('mosque_edit', {id: mosque.id})}}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{{path('mosque_delete', {id: mosque.id})}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}