<!DOCTYPE html>
<html>
<head>
    {% include "partial/ga.html.twig" %}
    <title>{{ mosque.name }} - {{ 'site_title'|trans }}</title>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    {% include "partial/favicon.html.twig" %}

    {% stylesheets
        "bundles/app/bootstrap-3.3.7/css/bootstrap.min.css"
        "bundles/app/css/fonts.css"
        "bundles/app/prayer-times/css/main.css"
        "bundles/app/prayer-times/css/desktop.css"
        "bundles/app/prayer-times/css/slider.css"
        "bundles/app/weather/weather-icons.min.css"
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
</head>
<body class="text-center">

<div id="spinner"></div>

<!-- Iqama screen -->
<div class="iqama display-none">
    <div class="top">{{ 'iqama'|trans }}</div>
    <div class="image" style="background-image: url({{ asset('bundles/app/prayer-times/img/phone.png') }})"></div>
    <div class="bottom">{{ 'power-off-phones'|trans }}</div>
</div>

<!-- Douaa after prayer slider -->
<div class="adhkar-after-prayer display-none">
    {% if mosque.configuration.smallScreen %}
        {% include 'partial/dua-slider.html.twig' %}
    {% else %}
        {% include 'partial/dua-slider-one-screen.html.twig' %}
    {% endif %}
</div>

<!-- message info slider -->
<div class="message-info-slider slider display-none" data-remote="{{ path('ajax_get_messages', {id: mosque.id, main_screen: true}) }}"></div>

{% include 'partial/dua-after-adhan.html.twig' %}
{% include 'partial/dua-between-adhan-and-iqama.html.twig' %}
{% include 'partial/jumua-dhikr-reminder.html.twig' %}

<div id="black-screen" class="display-none"></div>
<!-- main screen -->
<div id="main" class="main display-none" data-remote="{{ path('mosque_has_been_updated', {slug: mosque.slug}) }}">

    <!-- Random hadith container -->
    <div class="random-hadith display-none" data-remote="{{ path('random_hadith', {lang: mosque.configuration.hadithLang}) }}" data-api-access-token="{{ mawaqitApiAccessToken }}">
        <div class="text">
            <div></div>
        </div>
        <div class="next-prayer-bloc" style="{{ app.request.locale == 'ar' ?  'flex-direction: row-reverse;' :  '' }}">
            <div class="next-prayer">
                {{ 'next_prayer'|trans }}
                <div class="countdown"></div>
            </div>
            <div class="time-bottom"></div>
        </div>
    </div>

    <!-- top container -->
    <div class="top-content">
        <div class="top-buttons">
            <div id="full-screen" title="{{ 'full_screen'|trans }}">
                <i class="glyphicon glyphicon-resize-full" aria-hidden="true"></i>
            </div>

            {% if isLocal() %}
                <div class="settings" title="{{ 'form.configure.action'|trans }}">
                    <a href="{{ path('mosque_index', {id: mosque.id}) }}"> <i class="glyphicon glyphicon-cog"></i></a>
                </div>

                <div class="languages">
                    <div class="btn-group">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-globe"></i></a>
                        <ul class="dropdown-menu">
                            {% for lang in languages %}
                                <li><a href="{{ path("mosque", {slug: mosque.slug, _locale: lang}) }}">{{ lang|trans }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- temperature container -->
        {% if mosque.configuration.temperatureEnabled %}
            <div id="weather" class="hidden" data-remote="{{ path('weather', {slug: mosque.slug}) }}">
                <i style="color: #FFF;"></i> <span></span><sup>°C</sup>
            </div>
        {% endif %}
        <div class="header {{ app.request.locale == 'ar' ? 'rtl' }}">{{ mosque.isMosque ? mosque.title : mosque.title|trans({'%city%': mosque.city}) }}</div>

        <!-- Adhan flash -->
        <div class="main-iqama-countdown hidden">
            <div class="text">{{ 'iqama_in'|trans }}</div>
            <div class="countdown"></div>
        </div>

        <!-- Adhan flash -->
        <div class="adhan-flash hidden">
            <div class="col-md-2">
                <img class="loudspeaker" src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}">
            </div>
            <div class="col-md-8">
                {{ 'azan'|trans }}
            </div>
            <div class="col-md-2">
                <img class="loudspeaker" src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}"
                     style="transform: scaleX(-1);">
            </div>
        </div>

        <!-- Alarm flash -->
        <div class="alarm-flash hidden">
            <div class="col-md-2">
                <img class="loudspeaker" src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}">
            </div>
            <div class="col-md-8">
                {{ 'alarm'|trans }}
            </div>
            <div class="col-md-2">
                <img class="loudspeaker" src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}"
                     style="transform: scaleX(-1);">
            </div>
        </div>

        <div class="content">
            <div class="col-md-3 aid custom-time">
                <div class="ar">{{ 'aid'|trans }}</div>
                <div class="aid-id"></div>
            </div>
            <div class="col-md-3 chourouk custom-time">
                <div class="ar">{{ 'shuruk'|trans }}</div>
                <div class="chourouk-id"></div>
            </div>
            <div class="col-md-3 imsak custom-time">
                <div class="ar">{{ 'imsak'|trans }}</div>
                <div class="imsak-id"></div>
            </div>
            <div class="col-md-6">
                <div class="time"></div>
                <div class="date">
                    {% if mosque.configuration.hijriDateEnabled %}
                        <div class="hijriDate"><span></span> <img class="full-moon" src="{{ asset('bundles/app/prayer-times/img/full-moon.png') }}" alt=""></div>
                    {% endif %}
                    <div class="gregorianDate {{ app.request.locale == 'ar' ? 'rtl' }}"></div>
                </div>
            </div>
            <div class="col-md-3 joumouaa {{ mosque.configuration.noJumua ? 'hidden' : '' }}">
                <div class="ar">{{ 'jumua'|trans }}</div>
                <div class="prayer">
                    <div class="joumouaa-id"></div>
                    {% if mosque.configuration.jumuaTime2 is not null %}
                        <div  class="joumouaa2-id"><span></span></div>
                    {% endif %}
                </div>
            </div>

            {% if mosque.configuration.showNextAdhanCountdown %}
                <div class="col-md-12 next-prayer-bloc" style="{{ app.request.locale == 'ar' ?  'flex-direction: row-reverse;' :  '' }}">
                    <div class="next-prayer">
                        {{ 'next_prayer'|trans }}
                        <div class="countdown"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- prayer times container -->
    <div class="prayer-content">
        <div class="prayer-text">
            <div class="text _0">{{ 'fajr'|trans }}</div>
            <div class="text _1">{{ 'zuhr'|trans }}</div>
            <div class="text _2">{{ 'asr'|trans }}</div>
            <div class="text _3">{{ 'maghrib'|trans }}</div>
            <div class="text _4">{{ 'isha'|trans }}</div>
        </div>

        <div class="prayer-time">
            {% set ampmClass = mosque.configuration.timeDisplayFormat == "12" ? 'ampm' : '' %}
            <div class="sobh prayer _0 {{ ampmClass }}"></div>
            <div class="dohr prayer _1 {{ ampmClass }}"></div>
            <div class="asr prayer _2 {{ ampmClass }}"></div>
            <div class="maghrib prayer _3 {{ ampmClass }}"></div>
            <div class="ichaa prayer _4 {{ ampmClass }}"></div>
        </div>

        {% if mosque.configuration.iqamaEnabled %}
            <div class="prayer-wait">
                <div class="wait _0"></div>
                <div class="wait _1"></div>
                <div class="wait _2"></div>
                <div class="wait _3"></div>
                <div class="wait _4"></div>
            </div>
        {% endif %}
    </div>

    <!-- footer container -->
    <div class="footer">
        {% if isNotLocal() %}
            {% set url =  url('mosque', {slug: mosque.slug, _locale: app.request.locale}) %}
        {% endif %}

        {% if isLocal() and mosque.site is not empty %}
            {% set url =  mosque.site %}
        {% endif %}

        <div class="{{ not mosque.configuration.footer ? 'hidden' : '' }}">
            {% if url is defined %}
                <div class="site {{ app.request.locale == 'ar' ? 'rtl' }}">
                    {{ 'prayer_mobile_site'|trans({'%site%': url})|raw }}
                </div>
            {% endif %}

            <div class="assosciation">
                {{ mosque.associationName }}
                {% if mosque.phone %}
                    &nbsp;<i class="glyphicon glyphicon-phone"></i> {{ mosque.phone }}
                {% endif %}
                &nbsp;&nbsp;{{ mosque.rib }}
            </div>
            <div class="support">
                <span>{{ 'developed_by'|trans }}</span>&nbsp;&nbsp;<i class="glyphicon glyphicon-link"></i> <a href="{{ site }}">{{ site }}</a>
            </div>
            {% if mosque.configuration.urlQrCodeEnabled %}
                <div class="qr-code {{ url is defined ? '' : 'hidden' }}" data-url="{{ url|default('') }}">
                    <div id="qr-code"></div>
                </div>
            {% endif %}
        </div>
        <div class="version">v{{ version }}</div>
        {% if mosque.isMosque %}
            <div id="mosque-id" style="{{ mosque.configuration.urlQrCodeEnabled ? 'left:130px;' : '' }}">#{{ mosque.id }}</div>
        {% endif %}
    </div>

</div>

<script>
    var lastUpdated = {{ mosque.updated }};
    var isMosque = {{ mosque.mosque|json_encode|raw }};
    var longitude = {{ mosque.longitude }};
    var latitude = {{ mosque.latitude }};
    var confData = {{ confData|raw }};
    var lang = '{{ app.request.locale }}';
</script>

{% javascripts
    '@AppBundle/Resources/public/jquery/js/jquery-1.12.4.min.js'
    '@AppBundle/Resources/public/bootstrap-3.3.7/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/tools.js'
    '@AppBundle/Resources/public/prayer-times/js/vendor/jquery.countdown.min.js'
    '@AppBundle/Resources/public/prayer-times/js/vendor/hijriDate.js'
    '@AppBundle/Resources/public/prayer-times/js/vendor/PrayTimes.js'
    '@AppBundle/Resources/public/prayer-times/js/vendor/qrcode.js'
    '@AppBundle/Resources/public/prayer-times/js/date.js'
    '@AppBundle/Resources/public/prayer-times/js/prayer.js'
    '@AppBundle/Resources/public/prayer-times/js/sliders.js'
    '@AppBundle/Resources/public/prayer-times/js/randomHadith.js'
    '@AppBundle/Resources/public/prayer-times/js/weather.js'
    '@AppBundle/Resources/public/prayer-times/js/main.js'
    '@AppBundle/Resources/public/prayer-times/js/common.js'
    '@AppBundle/Resources/public/prayer-times/js/desktop.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>