<!DOCTYPE html>
<html>
<head>
    {% include "partial/ga.html.twig" %}
    <title>{{ mosque.name }} - {{ 'site_title'|trans }}</title>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="manifest" href="{{ path('manifest', {mosque: mosque.id}) }}">
    {% include "partial/favicon.html.twig" %}

    {% stylesheets
        "bundles/app/bootstrap-3.3.7/css/bootstrap.min.css"
        "bundles/app/jquery/css/jquery-ui.min.css"
        "bundles/app/css/fonts.css"
        "bundles/app/font-awesome/css/font-awesome.min.css"
        "bundles/app/prayer-times/css/main.css"
        "bundles/app/prayer-times/css/mobile.css"
        "bundles/app/prayer-times/css/notif.css"
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}

</head>
<body class="text-center">

<div id="spinner"></div>

<!-- Iqama screen -->
<div class="iqama ar display-none">
    <div class="top">{{ 'iqama'|trans }}</div>
    <div class="image"></div>
</div>

{% include 'partial/dua-after-adhan.html.twig' %}
{% include 'partial/dua-between-adhan-and-iqama.html.twig' %}
{% include 'partial/jumua-dhikr-reminder.html.twig' %}

<div id="main" class="main mobile display-none" data-remote="{{ path('mosque_has_been_updated', {slug: mosque.slug}) }}">

    {% if mosque.isMosque %}
        <div class="toggle"><i class="fa fa-bell"></i></div>
        <div class="toggle-number">{{ messages|length }}</div>

        <div class="sidebar">
            <h3>{{ 'your_mosque_informs_you'|trans }}</h3>
            {% for message in messages %}
                <div class="notibox">
                    <h4>{{ message.title }}</h4>
                    <p>{{ message.content|raw }}</p>
                    {% if message.image is not empty %}
                        <img src="/upload/{{ message.image }}" alt="{{ message.title }}"/>
                    {% endif %}
                    {#<div class="cancel" data-id="{{ message.id }}">✕</div>#}
                </div>
            {% else %}
                <h2 class="text-muted">{{ 'no_notif'|trans }}</h2>
            {% endfor %}
        </div>
    {% endif %}

    <input type="text" id="search" placeholder="{{ 'searchOtherMosque'|trans }}" data-remote="{{ path('public_mosque_search_ajax') }}">

    <div class="header {{ app.request.locale == 'ar' ? 'rtl' }}">{{ mosque.isMosque ? mosque.title : mosque.title|trans({'%city%': mosque.city}) }}</div>

    <div class="top-content">
        <div class="time"></div>
        {% if mosque.configuration.hijriDateEnabled %}
            <div class="hijriDate"><span></span> <img class="full-moon" src="{{ asset('bundles/app/prayer-times/img/full-moon.png') }}" alt=""></div>
        {% endif %}
        <div class="gregorianDate {{ app.request.locale == 'ar' ? 'rtl' }}"></div>
    </div>

    {% if mosque.flashMessage.available %}
        <div class="textSlide {{ mosque.flashMessage.orientation == 'rtl' ? 'textSlide-rtl' }}">
            <p style="
                    color:{{ mosque.flashMessage.color }};
                    width: {{ (mosque.flashMessage.content|length/120)*1000 }}px;
                    --translatex:{{ (100 - (mosque.flashMessage.content|length/220)*100) }}%;
                    ">
                {{ mosque.flashMessage.content }}
            </p>
        </div>
    {% endif %}

    {% set ampmClass = mosque.configuration.timeDisplayFormat == "12" ? 'ampm' : '' %}
    <div class="prayer-content">
        {% if app.request.locale == 'ar' %}
            <div class="row">
                <div class="col-xs-4 wait _0 text-left"></div>
                <div class="col-xs-4 prayer prayer0 sobh {{ ampmClass }}"></div>
                <div class="col-xs-4 adhan0 hidden">
                    <img src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}" class="athan-img">
                </div>
                <div class="col-xs-4 text ar text-right">{{ 'fajr'|trans }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 wait _1 text-left"></div>
                <div class="col-xs-4 prayer prayer1 dohr {{ ampmClass }}"></div>
                <div class="col-xs-4 adhan1 hidden">
                    <img src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}" class="athan-img">
                </div>
                <div class="col-xs-4 text ar text-right">{{ 'zuhr'|trans }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 wait _2 text-left"></div>
                <div class="col-xs-4 prayer prayer2 asr {{ ampmClass }}"></div>
                <div class="col-xs-4 adhan2 hidden">
                    <img src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}" class="athan-img">
                </div>
                <div class="col-xs-4 text ar text-right">{{ 'asr'|trans }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 wait _3 text-left"></div>
                <div class="col-xs-4 prayer prayer3 maghrib {{ ampmClass }}"></div>
                <div class="col-xs-4 adhan3 hidden">
                    <img src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}" class="athan-img">
                </div>
                <div class="col-xs-4 text ar text-right">{{ 'maghrib'|trans }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 wait _4 text-left"></div>
                <div class="col-xs-4 prayer prayer4 ichaa {{ ampmClass }}"></div>
                <div class="col-xs-4 adhan4 hidden">
                    <img src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}" class="athan-img">
                </div>
                <div class="col-xs-4 text ar text-right">{{ 'isha'|trans }}</div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-4 text text-left">{{ 'fajr'|trans }}</div>
                <div class="col-xs-4 prayer prayer0 sobh {{ ampmClass }}"></div>
                <div class="col-xs-4 adhan0 hidden">
                    <img src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}" class="athan-img">
                </div>
                <div class="col-xs-4 wait _0 text-right"></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text text-left">{{ 'zuhr'|trans }}</div>
                <div class="col-xs-4 prayer prayer1 dohr {{ ampmClass }}"></div>
                <div class="col-xs-4 adhan1 hidden">
                    <img src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}" class="athan-img">
                </div>
                <div class="col-xs-4 wait _1 text-right"></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text text-left">{{ 'asr'|trans }}</div>
                <div class="col-xs-4 prayer prayer2 asr {{ ampmClass }}"></div>
                <div class="col-xs-4 adhan2 hidden">
                    <img src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}" class="athan-img">
                </div>
                <div class="col-xs-4 wait _2 text-right"></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text text-left">{{ 'maghrib'|trans }}</div>
                <div class="col-xs-4 prayer prayer3 maghrib {{ ampmClass }}"></div>
                <div class="col-xs-4 adhan3 hidden">
                    <img src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}" class="athan-img">
                </div>
                <div class="col-xs-4 wait _3 text-right"></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text text-left">{{ 'isha'|trans }}</div>
                <div class="col-xs-4 prayer prayer4 ichaa {{ ampmClass }}"></div>
                <div class="col-xs-4 adhan4 hidden">
                    <img src="{{ asset('bundles/app/prayer-times/img/loudspeaker.png') }}" class="athan-img">
                </div>
                <div class="col-xs-4 wait _4 text-right"></div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="next-prayer text-center">
            {{ 'next_prayer'|trans }}
            <div class="countdown"></div>
        </div>
    </div>

    <div class="chourouk-joumouaa">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1 imsak custom-time label ar">{{ 'imsak'|trans }}</div>
            <div class="col-xs-4 col-xs-offset-1 chourouk custom-time label ar">{{ 'shuruk'|trans }}</div>
            <div class="col-xs-4 col-xs-offset-1 aid custom-time label ar">{{ 'aid'|trans }}</div>
            {% if not mosque.configuration.noJumua %}
                <div class="col-xs-2"></div>
                <div class="col-xs-4 joumouaa label ar">{{ 'jumua'|trans }}</div>
                <div class="col-xs-1"></div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1 imsak custom-time imsak-id {{ ampmClass }}"></div>
            <div class="col-xs-4 col-xs-offset-1 chourouk custom-time chourouk-id  {{ ampmClass }}"></div>
            <div class="col-xs-4 col-xs-offset-1 aid custom-time aid-id {{ ampmClass }}"></div>
            {% if not mosque.configuration.noJumua %}
                <div class="col-xs-2"></div>
                <div class="col-xs-4 prayer joumouaa-id {{ ampmClass }}"></div>
                <div class="col-xs-1"></div>
            {% endif %}
        </div>
    </div>

    {% if mosque.mosque %}
        <div class="mt-1">
            <a class="text-muted"
               href="mailto:{{ mosque.user.email }}?subject=Mawaqit | Infos incorrects - {{ mosque.title }} (ID {{ mosque.id }})
               &body={{ 'incorrectsInfos.mailBody'|trans({'%link%': url('mosque', {'slug': mosque.slug}, true)}) }}">
                {{ 'incorrectsInfos.title'|trans }}
            </a>
        </div>
    {% endif %}

    {% if mosque.mosque and mosque.showUsefullInfo %}
        <div class="panel panel-default mt-1 usefulInfos">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class=" accordion-toggle" data-toggle="collapse" href="#usefulInfos">{{ 'usefulInfos'|trans }}</a>
                </h4>
            </div>
            <div id="usefulInfos" class="panel-collapse collapse text-left">
                <div class="row">
                    <div class="col-xs-6">
                        <div><span class="fa fa-{{ mosque.womenSpace ? 'check-circle text-success' :  'times-circle text-danger' }}"></span> {{ 'mosque.form.womenSpace.label'|trans }}</div>
                        <div><span class="fa fa-{{ mosque.ablutions ? 'check-circle text-success' :  'times-circle text-danger' }}"></span> {{ 'mosque.form.ablutions.label'|trans }}</div>
                        <div><span class="fa fa-{{ mosque.adultCourses ? 'check-circle text-success' :  'times-circle text-danger' }}"></span> {{ 'mosque.form.adultCourses.label'|trans }}</div>
                        <div><span class="fa fa-{{ mosque.childrenCourses ? 'check-circle text-success' :  'times-circle text-danger' }}"></span> {{ 'mosque.form.childrenCourses.label'|trans }}</div>
                        <div>
                            <span class="fa fa-{{ mosque.handicapAccessibility ? 'check-circle text-success' :  'times-circle text-danger' }}"></span> {{ 'mosque.form.handicapAccessibility.label'|trans }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div><span class="fa fa-{{ not mosque.configuration.noJumua ? 'check-circle text-success' :  'times-circle text-danger' }}"></span> {{ 'jumuaPrayer'|trans }}</div>
                        <div><span class="fa fa-{{ mosque.janazaPrayer ? 'check-circle text-success' :  'times-circle text-danger' }}"></span> {{ 'mosque.form.janazaPrayer.label'|trans }}</div>
                        <div><span class="fa fa-{{ mosque.aidPrayer ? 'check-circle text-success' :  'times-circle text-danger' }}"></span> {{ 'mosque.form.aidPrayer.label'|trans }}</div>
                        <div><span class="fa fa-{{ mosque.ramadanMeal ? 'check-circle text-success' :  'times-circle text-danger' }}"></span> {{ 'mosque.form.ramadanMeal.label'|trans }}</div>
                        <div><span class="fa fa-{{ mosque.parking ? 'check-circle text-success' :  'times-circle text-danger' }}"></span> {{ 'mosque.form.parking.label'|trans }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="footer">
        <div class="assosciation text-center">
            <div>{{ mosque.associationName }}</div>
            {% if mosque.phone %}
                &nbsp;<i class="glyphicon glyphicon-phone"></i> {{ mosque.phone }}
            {% endif %}
            {% if mosque.email %}
                &nbsp;<i class="glyphicon glyphicon-envelope"></i> {{ mosque.email }}
            {% endif %}
            {% if mosque.site %}
                <div><i class="glyphicon glyphicon-link"></i> <a href="{{ mosque.site }}">{{ mosque.site }}</a></div>
            {% endif %}
            <div>{{ mosque.localisation }} <i id="navigate" class="fa fa-location-arrow"></i></div>
        </div>
        <div class="support">
            <div>{{ 'developed_by'|trans }}</div>
            <i class="glyphicon glyphicon-link"></i> <a href="{{ site }}">{{ site }}</a>
        </div>
        <div class="col-xs-6">
            {% if mosque.isMosque %}
                <div class="version text-left">#{{ mosque.id }}</div>
            {% endif %}
        </div>
        <div class="col-xs-6">
            <div class="version text-right">v{{ version }}</div>
        </div>
    </div>


</div>
</div>

<script>
    var lastUpdated = {{ mosque.updated }};
    var isMosque = {{ mosque.mosque|json_encode|raw }};
    var longitude = {{ mosque.longitude }};
    var latitude = {{ mosque.latitude }};
    var confData = {{ confData|raw }};
    var lang = '{{ app.request.locale }}';

    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/sw.js');
        });
    }
</script>

{% javascripts
    '@AppBundle/Resources/public/jquery/js/jquery-1.12.4.min.js'
    '@AppBundle/Resources/public/jquery/js/jquery-ui.min.js'
    '@AppBundle/Resources/public/bootstrap-3.3.7/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/tools.js'
    '@AppBundle/Resources/public/prayer-times/js/vendor/jquery.countdown.min.js'
    '@AppBundle/Resources/public/prayer-times/js/vendor/hijriDate.js'
    '@AppBundle/Resources/public/prayer-times/js/vendor/PrayTimes.js'
    '@AppBundle/Resources/public/prayer-times/js/date.js'
    '@AppBundle/Resources/public/prayer-times/js/prayer.js'
    '@AppBundle/Resources/public/prayer-times/js/notif.js'
    '@AppBundle/Resources/public/prayer-times/js/mobile.js'
    '@AppBundle/Resources/public/prayer-times/js/common.js'
    '@AppBundle/Resources/public/prayer-times/js/main_mobile.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>